@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Ações";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }
    private class Acao
    {
        public string IdAcao { get; set; }
        public string IdPagina { get; set; }
        public string Pagina { get; set; }
        public string Codigo { get; set; }
        public string Caption { get; set; }
        public string Procedure { get; set; }

    }

    private class Pagina
    {
        public string IdPagina { get; set; }
        public string Caption { get; set; }
    }

    string acao = null;
    string idAcao = null;
    string idPagina = null;
    string codigo = null;
    string caption = null;
    string procedure = null;

    View view = View.Index;

    List<Acao> acoes = null;
    List<Pagina> paginas = null;
    List<Botao> botoes = null;

    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idAcao = Util.ChecarNulo(Request.Form["idAcao"]);
        codigo = Util.ChecarNulo(Request.Form["codigo"]);
        caption = Util.ChecarNulo(Request.Form["caption"]);
        procedure = Util.ChecarNulo(Request.Form["procedure"]);
        idPagina = Util.ChecarNulo(Request.Form["idPagina"]);

        botoes = new BotaoDao().GetAll();

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }

    }
    private void LimpaVariaveis()
    {
        acao = null;
        idAcao = null;
        idPagina = null;
        codigo = null;
        caption = null;
        procedure = null;
    }

    private void ConsultarAcoes()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdAcao", idAcao);

        acoes = new Dao().ExecutarAcaoList<Acao>("C", parametros);
    }

    private void ConsultarPaginas()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "1");

        paginas = new Dao().ExecutarAcaoList<Pagina>("C", parametros);
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdAcao", idAcao);
        parametros.Add("@Codigo", codigo);
        parametros.Add("@Caption", caption);
        parametros.Add("@Procedure", procedure);
        parametros.Add("@IdPagina", idPagina);

        new Dao().ExecutarAcao(acao, parametros);
    }

    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && acoes != null && acoes.Count == 1)
        {
            Acao acao = acoes.FirstOrDefault();
            idAcao = acao.IdAcao;
            idPagina = acao.IdPagina;
            codigo = acao.Codigo;
            caption = acao.Caption;
            procedure = acao.Procedure;
        }
    }
}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();
            view = View.Index;
            LimpaVariaveis();

            ModelState.AddError("alert-success", "Operação realizada com sucesso");
        }, this.ModelState);
    }

    Util.ExceptionHandler(() =>
    {
        ConsultarAcoes();
        CarregarDados();
        ConsultarPaginas();

    }, this.ModelState);
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idAcao" id="idAcao" value="@idAcao" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">
            <div class="d-flex">
                @RenderPage("~/AreaRestrita/Menu.cshtml")
            </div>

            <div class="my-4">
                <h1>Ações</h1>
            </div>

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>

            @if (view == View.New)
            {
                @PageHelper.MakeBotao(botoes, "I");
            }

            @if (view == View.Edit)
            {
                @PageHelper.MakeBotao(botoes, "A");
                @PageHelper.MakeBotao(botoes, "E");
            }

            @if (view == View.New || view == View.Edit)
            {
                <div class="mt-3 mb-3">
                    <label class="form-label" for="idPagina">Sistema / Módulo / Página</label>
                    <select class="form-control @Util.IsInvalid(ModelState,"idPagina")" id="idPagina" name="idPagina">
                        <option value=""></option>
                        @if (paginas != null)
                        {
                            foreach (Pagina item in paginas)
                            {
                                <option value="@item.IdPagina" @(item.IdPagina == idPagina ? "selected" : "")>@item.Caption</option>
                            }
                        }
                    </select>
                    @PageHelper.MakeFeedBack("idPagina")
                </div>

                <div class="mt-3 mb-3">
                    <label class="form-label mt-3" for="caption">Caption</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "caption")" type="text" name="caption" id="caption" value="@caption" />
                    @PageHelper.MakeFeedBack("caption")

                    <label class="form-label mt-3" for="codigo">Código</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "codigo")" type="text" name="codigo" id="codigo" value="@codigo" />
                    @PageHelper.MakeFeedBack("codigo")

                    <label class="form-label mt-3" for="procedure">Procedure</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "procedure")" type="text" name="procedure" id="procedure" value="@procedure" />
                    @PageHelper.MakeFeedBack("procedure")

                </div>

            }

            @if (view == View.Index)
            {
                if (botoes.Any(x => x.Codigo == "I"))
                {
                    <button class="btn btn-secondary" type="button" onclick="adicionarNovo()">Novo</button>
                }
                if (acoes != null)
                {
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>Página</th>
                                <th>Caption</th>
                                <th>Código</th>
                                <th>Procedure</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Acao item in acoes)
                            {
                                <tr>
                                    <td>@item.Pagina</td>
                                    <td>@item.Caption</td>
                                    <td>@item.Codigo</td>
                                    <td>@item.Procedure</td>
                                    <td>
                                        @if (botoes.Any(x => x.Codigo == "A"))
                                        {
                                            <button class="btn btn-secondary" type="button" onclick="editar('@item.IdAcao')">Editar</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

        </div>
    </form>

    <script src="~/Scripts/Scripts.js"></script>
    <script>
        function editar(idAcao) {
            document.form1.view.value = "@((int)View.Edit)";
            document.form1.idAcao.value = idAcao;
            executaAcao('C');
        }
        function adicionarNovo() {
            document.form1.view.value = "@((int)View.New)";
            executaAcao('');
        }
    </script>
</body>