@using System.Web.Script.Serialization;
@using Newtonsoft.Json;
@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Ações";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {

    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }
    private class Jogador
    {
        public string IdJogador { get; set; }
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }
    private class TimeJson
    {
        public string Id { get; set; }
        public string Nome { get; set; }
        public JogadorJson[] Jogadores { get; set; }
    }
    private class JogadorJson
    {
        public string Id { get; set; }
        public string Nome { get; set; }
    }

    private class Retorno
    {
        public string Json { get; set; }
    }
    private class TimeJsonRetorno
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
        public string QtdGols { get; set; }
        public string Aproveitamento { get; set; }
        public decimal FolhaPagamento { get; set; }
        public JogadorJsonRetorno[] Jogadores { get; set; }
    }
    private class JogadorJsonRetorno
    {
        public string IdJogador { get; set; }
        public string Nome { get; set; }
        public string IdTime { get; set; }
        public string QtdGols { get; set; }
        public decimal Salario { get; set; }
        public string Aproveitamento { get; set; }
    }
    private class TimeRetorno
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
        public string QtdGols { get; set; }
        public string Aproveitamento { get; set; }
        public string FolhaPagamento { get; set; }
    }
    private class JogadorRetorno
    {
        public string IdJogador { get; set; }
        public string Nome { get; set; }
        public string QtdGols { get; set; }
        public string Salario { get; set; }
        public string Aproveitamento { get; set; }
    }

    string acao = null;
    string tipoConsulta = null;
    string json = null;

    List<Time> time = null;
    List<Jogador> jogador = null;
    List<JogadorJson> jogadorJson = null;
    List<TimeJson> timeJson = null;

    List<Retorno> retorno = null;
    List<TimeJsonRetorno> timesJsonRetorno = null;
    List<JogadorJsonRetorno> jogadoresJsonRetorno = null;
    List<TimeRetorno> timesRetorno = null;
    List<JogadorRetorno> jogadoresRetorno = null;


    private void ConsultarTimes()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "1");
        parametros.Add("@Json", null);

        time = new Dao().ExecutarAcaoList<Time>("C", parametros);

    }

    private void ConsultarJogadores()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "2");
        parametros.Add("@Json", null);

        jogador = new Dao().ExecutarAcaoList<Jogador>("C", parametros);

    }

    private void MontarJogador()
    {
        jogadorJson = new List<JogadorJson>();

        foreach (Jogador item in jogador)
        {

            var jogador = new JogadorJson()
            {
                Id = item.IdJogador,
                Nome = item.Nome
            };

            jogadorJson.Add(jogador);
        }
    }

    private void MontarTimeJson()
    {
        timeJson = new List<TimeJson>();

        foreach (var item in time)
        {
            TimeJson timeJsonAux = new TimeJson
            {
                Id = item.IdTime,
                Nome = item.Nome
            };

            timeJsonAux.Jogadores = jogador.Where(j => j.IdTime == item.IdTime).Select(j => new JogadorJson {Id = j.IdJogador, Nome = j.Nome}).ToArray();

            timeJson.Add(timeJsonAux);
        }

        json = JsonConvert.SerializeObject(timeJson);
    }

    private void ConsultarDadosRetorno()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "3");
        parametros.Add("@Json", json);

        retorno = new Dao().ExecutarAcaoList<Retorno>("C", parametros);

        json = retorno.FirstOrDefault().Json;

        timesJsonRetorno = JsonConvert.DeserializeObject<List<TimeJsonRetorno>>(json);

    }

    private void MontarTimeRetornoJogadorRetorno()
    {
        timesRetorno = new List<TimeRetorno>();
        jogadoresRetorno = new List<JogadorRetorno>();

        foreach (TimeJsonRetorno time in timesJsonRetorno)
        {
            TimeRetorno timeRetorno = new TimeRetorno
            {
                IdTime = time.IdTime,
                Nome = time.Nome,
                QtdGols = time.QtdGols,
                Aproveitamento = time.Aproveitamento,
                FolhaPagamento = time.FolhaPagamento.ToString("N2")
            };
            timesRetorno.Add(timeRetorno);


            foreach (JogadorJsonRetorno jogador in time.Jogadores)
            {
                JogadorRetorno jogadorRetorno = new JogadorRetorno
                {
                    IdJogador = jogador.IdJogador,
                    Nome = jogador.Nome,
                    QtdGols = jogador.QtdGols,
                    Salario = jogador.Salario.ToString("N2"),
                    Aproveitamento = jogador.Aproveitamento
                };


                jogadoresRetorno.Add(jogadorRetorno);
            }
        }
    }

}
@{
    ConsultarTimes();
    ConsultarJogadores();
    MontarJogador();
    MontarTimeJson();
    ConsultarDadosRetorno();
    MontarTimeRetornoJogadorRetorno();
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="tipoConsulta" id="tipoConsulta" value="" />


        <div class="container">

            <div class="d-flex">
                @RenderPage("~/AreaRestrita/Menu.cshtml")
            </div>
            <div class="my-4">
                <h1>Aula 9 - Trabalhando com JSON</h1>
            </div>

            @{

                List<TimeRetorno> timesRetorno2 = new List<TimeRetorno>();
                List<JogadorRetorno> jogadoresRetorno2 = new List<JogadorRetorno>();

                foreach (TimeJsonRetorno time in timesJsonRetorno)
                {
                    <div class="mb-3">
                        <label class="form-label"><strong>@(time.Nome) [QtdGols: @(time.QtdGols), Aproveitamento: @(time.Aproveitamento)%, Folha: @(time.FolhaPagamento.ToString("N2")) ]</strong></label>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome Jogador</th>
                                    <th>Salário</th>
                                    <th>Qtd Gols</th>
                                    <th>Aproveitamento</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (JogadorJsonRetorno jogador in time.Jogadores)
                                {
                                    <tr>
                                        <td>@jogador.Nome</td>
                                        <td>@jogador.Salario.ToString("N2")</td>
                                        <td>@jogador.QtdGols</td>
                                        <td>@jogador.Aproveitamento</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    </form>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/Scripts.js"></script>
    <script>

    </script>
</body>
