@{
    Page.Title = "Páginas";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }
    private class Pagina
    {
        public string IdPagina { get; set; }
        public string IdModulo { get; set; }
        public string Modulo { get; set; }
        public string Codigo { get; set; }
        public string Caption { get; set; }

    }

    private class Modulo
    {
        public string IdModulo { get; set; }
        public string Caption { get; set; }
    }

    string acao = null;
    string idPagina = null;
    string idModulo = null;
    string codigo = null;
    string caption = null;

    View view = View.Index;

    List<Pagina> paginas = null;
    List<Modulo> modulos = null;
    
    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idPagina = Util.ChecarNulo(Request.Form["idPagina"]);
        idModulo = Util.ChecarNulo(Request.Form["idModulo"]);
        codigo = Util.ChecarNulo(Request.Form["codigo"]);
        caption = Util.ChecarNulo(Request.Form["caption"]);

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }

    }
    private void LimpaVariaveis()
    {
        acao = null;
        idPagina = null;
        idModulo = null;
        codigo = null;
        caption = null;
    }

    private void ConsultarPaginas()
    {
        string procedure = GetNomeProcedure("C");
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdPagina", idPagina);

        Dao dao = new Dao();
        paginas = dao.ExecutarProcedureList<Pagina>(procedure, parametros);
        
    }

    private void ConsultarModulos()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();

        parametros.Add("@TipoConsulta", "1");

        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();
        modulos = dao.ExecutarProcedureList<Modulo>(procedure, parametros);
    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "stp_Das_Pagina_Sel";
            case "I": return "stp_Das_Pagina_Ins";
            case "A": return "stp_Das_Pagina_Upd";
            case "E": return "stp_Das_Pagina_Del";
            default: return null;
        }
    }
    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdPagina", idPagina);
        parametros.Add("@IdModulo", idModulo);
        parametros.Add("@Codigo", codigo);
        parametros.Add("@Caption", caption);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();
        dao.ExecutarProcedure(procedure, parametros);
    }

    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && paginas != null && paginas.Count == 1)
        {
            Pagina pagina = paginas.FirstOrDefault();
            idPagina = pagina.IdPagina;
            idModulo = pagina.IdModulo;
            codigo = pagina.Codigo;
            caption = pagina.Caption;
        }
    }
}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();
            view = View.Index;
            LimpaVariaveis();

            ModelState.AddError("alert-success", "Operação realizada com sucesso");
        }, this.ModelState);
    }

    Util.ExceptionHandler(() =>
    {
        ConsultarPaginas();
        CarregarDados();
        ConsultarModulos();

    }, this.ModelState);
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idPagina" id="idPagina" value="@idPagina" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">
            @RenderPage("~/AreaRestrita/Menu.cshtml")

            <h1>Páginas</h1>

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>
            @if (view == View.Index)
            {
                <button class="btn btn-secondary" type="button" onclick="novo()">Novo</button>
            }

            @if (view == View.New)
            {
                <button class="btn btn-secondary" type="button" onclick="executaAcao('I')">Incluir</button>
            }

            @if (view == View.Edit)
            {
                <button class="btn btn-secondary" type="button" onclick="executaAcao('A')">Alterar</button>
                <button class="btn btn-secondary" type="button" onclick="executaAcao('E')">Excluir</button>
            }

            @if (view == View.New || view == View.Edit)
            {
                <div class="mt-3 mb-3">
                    <label class="form-label mt-3" for="caption">Caption</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "caption")" type="text" name="caption" id="caption" value="@caption" />
                    @PageHelper.MakeFeedBack("caption")

                    <label class="form-label mt-3" for="codigo">Código</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "codigo")" type="text" name="codigo" id="codigo" value="@codigo" />
                    @PageHelper.MakeFeedBack("codigo")

                </div>

                <div class="mt-3 mb-3">
                    <label class="form-label" for="idModulo">Sistema / Módulo</label>
                    <select class="form-control @Util.IsInvalid(ModelState,"idModulo")" id="idModulo" name="idModulo">
                        <option value=""></option>
                        @if (modulos != null)
                        {
                            foreach (Modulo item in modulos)
                            {
                                <option value="@item.IdModulo" @(item.IdModulo == idModulo ? "selected" : "")>@item.Caption</option>
                            }
                        }
                    </select>
                    @PageHelper.MakeFeedBack("idModulo")
                </div>

            }

            @if (view == View.Index)
            {
                if (paginas != null)
                {
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>Caption</th>
                                <th>Código</th>
                                <th>Módulo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Pagina item in paginas)
                            {
                                <tr>
                                    <td>@item.Caption</td>
                                    <td>@item.Codigo</td>
                                    <td>@item.Modulo</td>
                                    <td><button class="btn btn-secondary" type="button" onclick="editar('@item.IdPagina')">Editar</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

        </div>
    </form>

    <script src="~/Scripts/Scripts.js"></script>
    <script>
        function editar(idPagina) {
            document.form1.view.value = "@((int)View.Edit)";
            document.form1.idPagina.value = idPagina;
            executaAcao('C');
        }
        function novo() {
            document.form1.view.value = "@((int)View.New)";
            executaAcao('');
        }
    </script>
</body>