@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Sistema";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }

    private class Sistema
    {
        public string IdSistema { get; set; }
        public string Codigo { get; set; }
        public string Caption { get; set; }
    }

    string acao = null;
    string idSistema = null;
    string codigo = null;
    string caption = null;
    View view = View.Index;

    List<Sistema> sistemas = null;
    List<Botao> botoes = null;

    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idSistema = Util.ChecarNulo(Request.Form["idSistema"]);
        codigo = Util.ChecarNulo(Request.Form["codigo"]);
        caption = Util.ChecarNulo(Request.Form["caption"]);

        botoes = new BotaoDao().GetAll();

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }
    }
    private void LimpaVariaveis()
    {
        acao = null;
        idSistema = null;
        codigo = null;
        caption = null;
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdSistema", idSistema);

        sistemas = new Dao().ExecutarAcaoList<Sistema>("C", parametros);

    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdSistema", idSistema);
        parametros.Add("@Codigo", codigo);
        parametros.Add("@Caption", caption);

        new Dao().ExecutarAcao(acao, parametros);

    }
    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && sistemas != null && sistemas.Count == 1)
        {
            Sistema sistema = sistemas.FirstOrDefault();
            idSistema = sistema.IdSistema;
            codigo = sistema.Codigo;
            caption = sistema.Caption;
        }
    }
}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();
            view = View.Index;
            LimpaVariaveis();

            ModelState.AddError("alert-success", "Operação realizada com sucesso");

        }, this.ModelState);
    }

    Util.ExceptionHandler(() =>
    {
        Consultar();

        CarregarDados();

    }, this.ModelState);

}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idSistema" id="idSistema" value="@idSistema" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">

            <div class="d-flex">
                @RenderPage("~/AreaRestrita/Menu.cshtml")
            </div>

            <div class="my-4">
                <h1>Sistema</h1>
            </div>

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>

            @if (view == View.New)
            {
                @PageHelper.MakeBotao(botoes, "I");
            }

            @if (view == View.Edit)
            {
                @PageHelper.MakeBotao(botoes, "A");
                @PageHelper.MakeBotao(botoes, "E");
            }

            @if (view == View.New || view == View.Edit)
            {
                <div class="mb-3">
                    <label class="form-label mt-3" for="codigo">Caption</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"caption")" type="text" name="caption" id="caption" value="@caption" />
                    @PageHelper.MakeFeedBack("caption")

                    <label class="form-label mt-3" for="codigo">Código</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"codigo")" type="text" name="codigo" id="codigo" value="@codigo" />
                    @PageHelper.MakeFeedBack("codigo")
                </div>
            }

            @if (view == View.Index)
            {
                if (botoes.Any(x => x.Codigo == "I"))
                {
                    <button class="btn btn-secondary" type="button" onclick="adicionarNovo()">Novo</button>
                }

                if (sistemas != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Caption</th>
                                <th>Código</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Sistema item in sistemas)
                            {
                                <tr>
                                    <td>@item.Caption</td>
                                    <td>@item.Codigo</td>
                                    <td>
                                        @if (botoes.Any(x => x.Codigo == "A"))
                                        {
                                            <button class="btn btn-secondary" type="button" onclick="editar('@item.IdSistema')">Editar</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

        </div>
    </form>
    <script src="~/Scripts/Scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function editar(idSistema) {
            document.form1.view.value = "@((int)View.Edit)";
            document.form1.idSistema.value = idSistema;
            executaAcao('C');
        }
        function adicionarNovo() {
            document.form1.view.value = "@((int)View.New)";
            executaAcao('');
        }
    </script>
</body>



