@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Classificação";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}



@functions {
    private class Classificacao //Definindo a Classe Time
    {
        public string Nome { get; set; } // e suas propiedades (todo Objeto Time tem um IdTime e um Nome.
        public string Pontos { get; set; }
        public string SaldoDeGols { get; set; }
        public string GolsMarcados { get; set; }

    }


    List<Classificacao> classificacoes = null;



    private void Consultar()
    {

        classificacoes = new Dao().ExecutarAcaoList<Classificacao>("C", null); //Ta executando o metodo ExecutarProcedureList definindo a Classe Time no coringa do metodo
                                                                               //e qual tipo de procedure, deixando os parametros nulos
    }

}

@{
    Consultar();
}



@section head {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
}

<body>
    <div class="container">
        <div class="row g-3">
            <div>
                @RenderPage("~/AreaRestrita/Menu.cshtml")
            </div>

            <div class="col-12 mb-4 text-center">
                <h1>Classificação</h1>
            </div>
        </div>


        @if (classificacoes != null) // se a lista de times não estiver vazia ele vai criar a tabela dos times no site
        {
            <table class="table table-striped rounded mb-0">
                <thead>
                    <tr>
                        <th class="text-center align-middle">Nome</th>
                        <th class="text-center align-middle">Pontos</th>
                        <th class="text-center align-middle">Saldo De Gols</th>
                        <th class="text-center align-middle">Gols Marcados</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (Classificacao item in classificacoes) //vai pecorrer todos os itens da lista times e vai criar uma coluna da tabela para cada Time com as suas propiedades
                    {
                        <tr>
                            <td class="text-center align-middle">@item.Nome</td>
                            <td class="text-center align-middle">@item.Pontos</td>
                            <td class="text-center align-middle">@item.SaldoDeGols</td>
                            <td class="text-center align-middle">@item.GolsMarcados</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>


