@{
    Page.Title = "Operador";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }

    private class Operador
    {
        public string IdOperador { get; set; }
        public string CPF { get; set; }
        public string Nome { get; set; }
        public string Senha { get; set; }
        public string Confirmacao { get; set; }
    }

    string acao = null;
    string idOperador = null;
    string cpf = null;
    string nome = null;
    string senha = null;
    string confirmacao = null;

    View view = View.Index;

    List<Operador> operadores = null;

    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idOperador = Util.ChecarNulo(Request.Form["idOperador"]);
        cpf = Util.ChecarNulo(Request.Form["cpf"]);
        nome = Util.ChecarNulo(Request.Form["nome"]);
        senha = Util.ChecarNulo(Request.Form["senha"]);
        confirmacao = Util.ChecarNulo(Request.Form["confirmacao"]);

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }
    }
    private void LimpaVariaveis()
    {
        acao = null;
        idOperador = null;
        cpf = null;
        nome = null;
        confirmacao = null;
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdOperador", idOperador);

        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();
        operadores = dao.ExecutarProcedureList<Operador>(procedure, parametros);

    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {

            case "C": return "stp_Das_Operador_Sel";
            case "I": return "stp_Das_Operador_Ins";
            case "A": return "stp_Das_Operador_Upd";
            case "E": return "stp_Das_Operador_Del";
            default: return null;
        }
    }
    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdOperador", idOperador);
        parametros.Add("@CPF", cpf);
        parametros.Add("@Nome", nome);
        parametros.Add("@Senha", senha);
        parametros.Add("@Confirmacao", confirmacao);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();
        dao.ExecutarProcedure(procedure, parametros);

    }
    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && operadores != null && operadores.Count == 1)
        {
            Operador operador = operadores.FirstOrDefault();
            idOperador = operador.IdOperador;
            cpf = operador.CPF;
            nome = operador.Nome;
            senha = operador.Senha;
            confirmacao = operador.Senha;
        }
    }
}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();
            view = View.Index;
            LimpaVariaveis();

            ModelState.AddError("alert-success", "Operação realizada com sucesso");

        }, this.ModelState);
    }

    Util.ExceptionHandler(() =>
    {
        Consultar();

        CarregarDados();

    }, this.ModelState);

}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idOperador" id="idOperador" value="@idOperador" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">
            @RenderPage("~/AreaRestrita/Menu.cshtml")

            <h1>Operadores</h1>

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>
            @if (view == View.Index)
            {
                <button class="btn btn-secondary" type="button" onclick="novo()">Novo</button>
            }

            @if (view == View.New)
            {
                <button class="btn btn-secondary" type="button" onclick="executaAcao('I')">Incluir</button>
            }

            @if (view == View.Edit)
            {
                <button class="btn btn-secondary" type="button" onclick="executaAcao('A')">Alterar</button>
                <button class="btn btn-secondary" type="button" onclick="executaAcao('E')">Excluir</button>
            }

            @if (view == View.New || view == View.Edit)
            {
                <div class="mt-3 mb-3">
                    <label class="form-label mt-3" for="cpf">CPF</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"CPF")" type="text" name="cpf" id="cpf" value="@cpf" maxlength="11" />
                    @PageHelper.MakeFeedBack("cpf")

                    <label class="form-label mt-3" for="nome">Nome</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"nome")" type="text" name="nome" id="nome" value="@nome" />
                    @PageHelper.MakeFeedBack("nome")

                    <label class="form-label mt-3" for="senha">Senha</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"senha")" type="password" name="senha" id="senha" value="@senha" />
                    @PageHelper.MakeFeedBack("senha")

                    <label class="form-label mt-3" for="confirmacao">Confirmação</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"confirmacao")" type="password" name="confirmacao" id="confirmacao" value="@confirmacao" />
                    @PageHelper.MakeFeedBack("confirmacao")

                </div>
            }

            @if (view == View.Index)
            {
                if (operadores != null)
                {
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Operador item in operadores)
                            {
                                <tr>
                                    <td>@item.CPF</td>
                                    <td>@item.Nome</td>
                                    <td><button class="btn btn-secondary" type="button" onclick="editar('@item.IdOperador')">Editar</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

        </div>
    </form>
    <script src="~/Scripts/Scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function editar(idOperador) {
            document.form1.view.value = "@((int)View.Edit)";
            document.form1.idOperador.value = idOperador;
            executaAcao('C');
        }
        function novo() {
            document.form1.view.value = "@((int)View.New)";
            executaAcao('');
        }
    </script>
</body>



