@helper MakeAlert() // renderiza as mensagens de erros (helpers săo metodos do razor que permite criar componentes reutilizaveis com codigos c# + html)
{
    foreach (var ms in ModelState.Where(x => x.Key.StartsWith("alert-"))) //o model state é uma classe do asp.net que armazena um dicionario de chave e valor e pode ser usado para adicionar informaçőes
                                                                          //que podem ser apresentado pela view
    {
        foreach (var error in ms.Value.Errors)
        {
            <div class="alert @Html.Raw(ms.Key)">
                <i class="bi bi-exclamation-circle"></i> @Html.Raw(error)
            </div>
        }
    }
}

@helper MakeFeedBack(string key)
//
{
    foreach (var item in ModelState.Where(x => x.Key.Equals(key, StringComparison.OrdinalIgnoreCase)))
    {
        foreach (var item1 in item.Value.Errors)
        {
            <div class="invalid-feedback"><i class="bi bi-exclamation-diamond-fill"></i> @(item1)</div>
        }
    }
}


@helper MakeBotao(List<Botao> botoes, string acao)
{
    if (botoes.Any(x => x.Codigo == acao))
    {
        Botao botao = botoes.Find(x => x.Codigo == acao);
        string icone = "";
        string tipoBotao = "";
        switch (botao.Codigo)
        {
            case "I":
                icone = "<i class=\"bi bi-plus-circle-dotted\"></i>";
                tipoBotao = "btn btn-primary btn-sm";
                break;
            case "E":
                icone = "<i class=\"bi bi-trash3\"></i>";
                tipoBotao = "btn btn-danger btn-sm";
                break;
            case "A":
                icone = "<i class=\"bi bi-pencil-square\"></i>";
                tipoBotao = "btn btn-warning btn-sm";
                break;
        }
        if (botao != null)
        {
            <button class="@Html.Raw(tipoBotao)" type="button" onclick="executarAcao('@botao.Codigo')">@Html.Raw(icone) @botao.Caption</button>
        }


    }
}

@helper MakeTresPontos(string group, string title, string label, string tipoConsulta, string consultaComposta)
{
    <div class="search" data-group="@group" data-tipo-consulta="@tipoConsulta" data-consulta-composta="@consultaComposta">
        <span class="btn btn-light" onclick="openSearch(this)">
            ...
        </span>
        <div class="search-card">
            <div class="search-head">
                <div class="search-title">@title</div>
                <div class="search-close" onclick="closeSearch(this)">x</div>
            </div>
            <div class="search-body">
                <label for="chave">@label</label>
                <div class="row">
                    <div class="col">
                        <input type="text" name="chave" id="chave" value="" class="form-control" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-primary" type="button" name="pesquisar" id="pesquisar" onclick="makeSearch(this)">Pesquisar</button>
                    </div>
                </div>
                <div class="resultado"></div>
            </div>
        </div>
    </div>
}

