@{
    Page.Title = "Jogadores";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }
    private class Jogador
    {
        public string IdJogador { get; set; }
        public string NomeJogador { get; set; }
        public string IdTime { get; set; }
        public string NomeTime { get; set; }

    }

    private class Time
    {
        public string IdTime { get; set; }
        public string NomeTime { get; set; }
    }

    string acao = null;
    string idJogador = null;
    string nomeJogador = null;
    string idTime = null;

    View view = View.Index;

    List<Jogador> jogadores = null;
    List<Time> times = null;

    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idJogador = Util.ChecarNulo(Request.Form["idJogador"]);
        nomeJogador = Util.ChecarNulo(Request.Form["nomeJogador"]);
        idTime = Util.ChecarNulo(Request.Form["times"]);

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }

    }
    private void LimpaVariaveis()
    {
        acao = null;
        idJogador = null;
        nomeJogador = null;
        idTime = null;
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogador", idJogador);

        jogadores = new Dao().ExecutarAcaoList<Jogador>("C", parametros);
    }
    private void ConsultarTimes()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "1");

        times = new Dao().ExecutarAcaoList<Time>("C", parametros);
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogador", idJogador);
        parametros.Add("@Nome", nomeJogador);
        parametros.Add("@IdTime", idTime);

        new Dao().ExecutarProcedure(acao, parametros);

    }

    private string IsInvalid(string key)
    {
        return (!ModelState.IsValidField(key) ? "is-invalid" : "");
    }
    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && jogadores != null && jogadores.Count == 1)
        {
            Jogador jogador = jogadores.FirstOrDefault();
            idJogador = jogador.IdJogador;
            nomeJogador = jogador.NomeJogador;
            idTime = jogador.IdTime;
        }
    }
}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();
            view = View.Index;
            LimpaVariaveis();

            ModelState.AddError("alert-success", "Operação realizada com sucesso");
        }, this.ModelState);
    }

    Util.ExceptionHandler(() =>
    {
        ConsultarTimes();
        Consultar();
        CarregarDados();

    }, this.ModelState);
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idJogador" id="idJogador" value="@idJogador" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">
            @RenderPage("~/AreaRestrita/Menu.cshtml")

            <h1>Jogadores</h1>

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>
            @if (view == View.Index)
            {
                <button class="btn btn-secondary" type="button" onclick="novo()">Novo</button>
            }

            @if (view == View.New)
            {
                <button class="btn btn-secondary" type="button" onclick="executaAcao('I')">Incluir</button>
            }

            @if (view == View.Edit)
            {
                <button class="btn btn-secondary" type="button" onclick="executaAcao('A')">Alterar</button>
                <button class="btn btn-secondary" type="button" onclick="executaAcao('E')">Excluir</button>
            }

            @if (view == View.New || view == View.Edit)
            {
                <div class="mb-3">
                    <label class="form-label" for="jogador">Jogador: </label>
                    <input class="form-control @IsInvalid("nomeJogador")" type="text" name="nomeJogador" id="nomeJogador" value="@nomeJogador" />
                    @PageHelper.MakeFeedBack("nomeJogador")
                </div>
                <div class="mb-3">
                    <label class="form-label" for="times">Time: </label>
                    <select class="form-control @IsInvalid("times")" id="times" name="times">
                        <option value=""></option>
                        @if (times != null)
                        {
                            foreach (Time item in times)
                            {
                                <option value="@item.IdTime" @(item.IdTime == idTime ? "selected" : "")>@item.NomeTime</option>
                            }
                        }
                    </select>
                    @PageHelper.MakeFeedBack("times")
                </div>
            }

            @if (view == View.Index)
            {
                if (jogadores != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome Jogador</th>
                                <th>Nome Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Jogador item in jogadores)
                            {
                                <tr>
                                    <td>@item.NomeJogador</td>
                                    <td>@item.NomeTime</td>
                                    <td><button class="btn btn-secondary" type="button" onclick="editar('@item.IdJogador')">Editar</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

        </div>
    </form>

    <script src="~/Scripts/Scripts.js"></script>
    <script>
        function editar(idJogador) {
            document.form1.view.value = "@((int)View.Edit)";
            document.form1.idJogador.value = idJogador;
            executaAcao('C');
        }
        function novo() {
            document.form1.view.value = "@((int)View.New)";
            executaAcao('');
        }

    </script>
</body>