@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Jogos";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {

    private enum View
    {
        Index,
        New,
        Edit
    }
    private class Jogo
    {
        public string IdJogo { get; set; }
        public string IdTime1 { get; set; }
        public string Time1 { get; set; }
        public string IdTime2 { get; set; }
        public string Time2 { get; set; }
        public string Placar1 { get; set; }
        public string DataHoraInicio { get; set; }
        public string DataHoraFinal { get; set; }
        public string Placar2 { get; set; }
        public string DataInicio { get; set; }
        public string HoraInicio { get; set; }
        public string DataFinal { get; set; }
        public string HoraFinal { get; set; }
    }

    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }

    string acao = null;
    string idJogo = null;
    string idTime1 = null;
    string idTime2 = null;

    string dataHoraInicio = null;
    string dataHoraFinal = null;
    string dataInicio = null;
    string horaInicio = null;

    string dataFinal = null;
    string horaFinal = null;

    View view = View.Index;

    List<Jogo> jogos = null;
    List<Time> times = null;
    List<Botao> botoes = null;

    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idJogo = Util.ChecarNulo(Request.Form["idJogo"]);
        idTime1 = Util.ChecarNulo(Request.Form["times1"]);
        idTime2 = Util.ChecarNulo(Request.Form["times2"]);
        dataHoraInicio = Util.ChecarNulo(Request.Form["dataHoraInicio"]);
        dataHoraFinal = Util.ChecarNulo(Request.Form["dataHoraFinal"]);

        dataInicio = Util.ChecarNulo(Request.Form["dataInicio"]);
        horaInicio = Util.ChecarNulo(Request.Form["horaInicio"]);
        dataFinal = Util.ChecarNulo(Request.Form["dataFinal"]);
        horaFinal = Util.ChecarNulo(Request.Form["horaFinal"]);

        botoes = new BotaoDao().GetAll();

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }
    }
    private void LimpaVariaveis()
    {
        acao = null;
        idJogo = null;
        idTime1 = null;
        idTime2 = null;
        dataInicio = null;
        horaInicio = null;
        dataFinal = null;
        horaFinal = null;
    }
    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogo", idJogo);

        jogos = new Dao().ExecutarAcaoList<Jogo>("C", parametros);
    }
    private void ConsultarTimes()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "1");

        times = new Dao().ExecutarAcaoList<Time>("C", parametros);
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogo", idJogo);
        parametros.Add("@IdTime1", idTime1);
        parametros.Add("@IdTime2", idTime2);

        parametros.Add("@DataInicio", Util.FormatarData(dataInicio,Util.TipoDado.FormatoDataBrasileira));
        parametros.Add("@HoraInicio", Util.FormatarData(horaInicio, Util.TipoDado.FormatoHora));

        parametros.Add("@DataFinal", Util.FormatarData(dataFinal, Util.TipoDado.FormatoDataBrasileira));
        parametros.Add("@HoraFinal", Util.FormatarData(horaFinal, Util.TipoDado.FormatoHora));

        new Dao().ExecutarAcao(acao, parametros);

    }

    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && jogos != null && jogos.Count == 1)
        {
            Jogo jogo = jogos.FirstOrDefault();
            idJogo = jogo.IdJogo;
            idTime1 = jogo.IdTime1;
            idTime2 = jogo.IdTime2;

            dataInicio = Util.FormatarData(jogo.DataHoraInicio, Util.TipoDado.FormatoDataAmericada);
            horaInicio = Util.FormatarData(jogo.DataHoraInicio, Util.TipoDado.FormatoHora);
            dataFinal = Util.FormatarData(jogo.DataHoraFinal, Util.TipoDado.FormatoDataAmericada);
            horaFinal = Util.FormatarData(jogo.DataHoraFinal, Util.TipoDado.FormatoHora);
        }
    }
}

@{
    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();

            view = View.Index;

            LimpaVariaveis();

        }, this.ModelState);

    }

    Util.ExceptionHandler(() =>
    {
        ConsultarTimes();
        Consultar();

        CarregarDados();

    }, this.ModelState);
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idJogo" id="idJogo" value="@idJogo" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">
            @RenderPage("~/AreaRestrita/Menu.cshtml")

            <h1>Jogos</h1>

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>

            @if (view == View.New)
            {
                @PageHelper.MakeBotao(botoes, "I");
            }

            @if (view == View.Edit)
            {
                @PageHelper.MakeBotao(botoes, "A");
                @PageHelper.MakeBotao(botoes, "E");
            }

            @if (view == View.New || view == View.Edit)
            {
                <div class="mb-3">
                    <label class="form-label" for="times1">Time 1: </label>
                    <select class="form-control @Util.IsInvalid(ModelState,"times1")" id="times1" name="times1">
                        <option value=""></option>
                        @if (times != null)
                        {
                            foreach (Time item in times)
                            {
                                <option value="@item.IdTime" @(item.IdTime == idTime1 ? "selected" : "")>@item.Nome</option>
                            }
                        }
                    </select>
                    @PageHelper.MakeFeedBack("times1")
                </div>

                <div class="mb-3">
                    <label class="form-label" for="times2">Time 2: </label>
                    <select class="form-control @Util.IsInvalid(ModelState,"times2")" id="times2" name="times2">
                        <option value=""></option>
                        @if (times != null)
                        {
                            foreach (Time item in times)
                            {
                                <option value="@item.IdTime" @(item.IdTime == idTime2 ? "selected" : "" )>@item.Nome</option>
                            }
                        }
                    </select>
                    @PageHelper.MakeFeedBack("times2")
                </div>

                <div class="mb-3">
                    <label class="form-label" for="dataInicio">Data Início</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"dataInicio")" type="date" id="dataInicio" name="dataInicio" value="@Util.FormatarData( dataInicio,Util.TipoDado.FormatoDataAmericada)">
                    @PageHelper.MakeFeedBack("dataInicio")
                </div>

                <div class="mb-3">
                    <label class="form-label" for="horaInicio">Hora Início</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"horaInicio")" step="1" type="time" id="horaInicio" name="horaInicio" value="@horaInicio">
                    @PageHelper.MakeFeedBack("horaInicio")
                </div>

                <div class="mb-3">
                    <label class="form-label" for="dataFinal">Data Final</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"dataFinal")" type="date" id="dataFinal" name="dataFinal" value="@Util.FormatarData( dataFinal, Util.TipoDado.FormatoDataAmericada)">
                    @PageHelper.MakeFeedBack("dataFinal")
                </div>

                <div class="mb-3">
                    <label class="form-label" for="horaFinal">Hora Final</label>
                    <input class="form-control @Util.IsInvalid(ModelState,"horaFinal")" step="1" type="time" id="horaFinal" name="horaFinal" value="@horaFinal">
                    @PageHelper.MakeFeedBack("horaFinal")
                </div>
            }

            @if (view == View.Index)
            {

                if (botoes.Any(x => x.Codigo == "I"))
                {
                    <button class="btn btn-secondary" type="button" onclick="adicionarNovo()">Novo</button>
                }

                if (jogos != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Time 1</th>
                                <th>Time 2</th>
                                <th>Placar 1</th>
                                <th>Placar 2</th>
                                <th>Data/Hora Início</th>
                                <th>Data/Hora Final</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Jogo item in jogos)
                            {
                                <tr>
                                    <td>@item.Time1</td>
                                    <td>@item.Time2</td>
                                    <td>@item.Placar1</td>
                                    <td>@item.Placar2</td>
                                    <td>@item.DataHoraInicio</td>
                                    <td>@item.DataHoraFinal</td>
                                    <td>
                                        @if (botoes.Any(x => x.Codigo == "A"))
                                        {
                                            <button class="btn btn-secondary" type="button" onclick="editar('@item.IdJogo')">Editar</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

        </div>
    </form>
    <script src="~/Scripts/Scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function editar(idJogo) {
            document.form1.view.value = "@((int)View.Edit)";
            document.form1.idJogo.value = idJogo;
            executaAcao('C');
        }
        function adicionarNovo() {
            document.form1.view.value = "@((int)View.New)";
            executaAcao('');
        }
    </script>
</body>