@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Confronto de Times";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}
@functions{
    private class Time
    {
        public int IdTime { get; set; }
        public string Nome { get; set; }
        public int IdSequencial { get; set; }
    }
    private class Confronto
    {
        public int IdSequencialTime1 { get; set; }
        public int IdSequencialTime2 { get; set; }
        public string JogoIniciado { get; set; }
    }

    string corMarcada = "rgb(154, 207, 152)";
    string corDesmarcada = "rgb(254, 83, 86)";
    string corCinza = "rgb(204, 204, 204)";
    string corAtual = null;

    int idTime1 = 0;
    int idTime2 = 0;
    string jogoIniciado = null;

    List<Confronto> confrontos = null;
    Confronto confronto = null;
    List<Time> times = null;
    Time time = null;

    int idSequencialTime1 = 0;
    int idSequencialTime2 = 0;
    int contadorLinha = 0;
    int contadorColuna = 1;

    private void ConsultarTimes()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", null);
        times = new Dao().ExecutarAcaoList<Time>("C", parametros);
    }
    private void ConsultarConfronto()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "1");
        confrontos = new Dao().ExecutarAcaoList<Confronto>("C", parametros);
    }

    private string JogoIniciado(int idSequencialTime1, int idSequencialTime2)
    {
        string ret = confrontos.Where(c => c.IdSequencialTime1 == idSequencialTime1 && c.IdSequencialTime2 == idSequencialTime2 || c.IdSequencialTime1 == idSequencialTime2 && c.IdSequencialTime2 == idSequencialTime1).Select(c => c.JogoIniciado).FirstOrDefault();
        return ret;
    }

    private int IdTime(int idSequencial)
    {
        int ret = times.Where(t => t.IdSequencial == idSequencial).Select(t => t.IdTime).FirstOrDefault();
        return ret;
    }

    private string NomeTime(int idSequencial)
    {
        string ret = times.Where(t => t.IdSequencial == idSequencial).Select(t => t.Nome).FirstOrDefault();
        return ret;
    }

}
@{

    Util.ExceptionHandler(() =>
    {
        ConsultarTimes();
        ConsultarConfronto();

    }, this.ModelState);
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
}
<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <div class="container">

            <div class="d-flex">
                @RenderPage("~/AreaRestrita/Menu.cshtml")
            </div>
            <div class="my-4">
                <h1>Confrontos Times - Copa do Mundo</h1>
            </div>

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>

            <div class="col">
                <table class="table table-sm table-nowrap card-table">

                    @for (int idSequencialTime1 = 0; idSequencialTime1 < times.Count + 1; idSequencialTime1++)
                    {
                        <tr>
                            @for (int idSequencialTime2 = 0; idSequencialTime2 < times.Count + 1; idSequencialTime2++)
                            {

                                if (idSequencialTime1 == 0)
                                {
                                    <th>@NomeTime(contadorLinha)</th>

                                    contadorLinha++;
                                }
                                else
                                {

                                    if (idSequencialTime2 == 0)
                                    {
                                        <th>@NomeTime(contadorColuna)</th>

                                        contadorColuna++;
                                    }
                                    else
                                    {

                                        idTime1 = IdTime(idSequencialTime1);
                                        idTime2 = IdTime(idSequencialTime2);
                                        corAtual = JogoIniciado(idSequencialTime1, idSequencialTime2) == "X" ? corMarcada : corDesmarcada;

                                        <td id="@($"{idSequencialTime1}{idSequencialTime2}")" data-IdCelulaEquivalente="@($"{idSequencialTime2}{idSequencialTime1}")" data-IdTime1="@idTime1" data-IdTime2="@idTime2" style="background-color: @(idSequencialTime1 == idSequencialTime2?corCinza:corAtual)" onclick="setarCor(this.id)"></td>
                                    }
                                }
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </form>
</body>
<script src="~/Scripts/Scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function setarCor(id) {

        var linha = id[0];
        var coluna = id[1];

        //sai se for a linha e coluna do mesmo time
        if ((linha) == coluna) {
            return;
        }

        var celulaAtual = document.getElementById(id);
        var IdCelulaEquivalente = celulaAtual.getAttribute('data-IdCelulaEquivalente');

        var celulaEquivalente = document.getElementById(IdCelulaEquivalente);

        var corAtual = $(celulaAtual).css('background-color');
        var corMarcada = "rgb(154, 207, 152)";
        var corDesmarcada = "rgb(254, 83, 86)";

        var idTime1 = celulaAtual.getAttribute('data-idTime1');
        var idTime2 = celulaAtual.getAttribute('data-idTime2');

        var jogoIniciado = corAtual == corDesmarcada ? 1 : 0;

        $.ajax({
            method: "POST",
            url: "ConfrontoTimesAux.cshtml",
            data: {
                idTime1: idTime1,
                idTime2: idTime2,
                jogoIniciado: jogoIniciado
            }
        }).done(function (res) {
            if (res == "OK") {

                celulaAtual.style.backgroundColor = corAtual == corDesmarcada ? corMarcada : corDesmarcada;
                celulaEquivalente.style.backgroundColor = corAtual == corDesmarcada ? corMarcada : corDesmarcada;

            } else {

                alert('Esse jogo já possui participaçăo');
            }
        });
    }
</script>
