@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Arquivo - Educacao";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}
@functions{
    private enum View
    {
        Index,
        New,
        Edit
    }
    private class QuadroObservacoesCNH
    {
        public string IdPreQuadroObservacoesCNH { get; set; }
        public string Chave { get; set; }
        public string ChaveAntiga { get; set; }
        public string ChaveGrafica { get; set; }
        public string Descricao { get; set; }
        public string Tipo { get; set; }
    }

    string acao = null;
    string idSessao = null;
    string idPreQuadroObservacoesCNH = null;
    string chave = null;
    string chaveAntiga = null;
    string chaveGrafica = null;
    string descricao = null;
    string tipo = null;

    View view = View.Index;
    List<Botao> botoes = null;

    List<QuadroObservacoesCNH> quadrosObservacoesCNH = null;

    private void AlimentaVariaveis()
    {
        idSessao = Session["idSessao"].ToString();
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idPreQuadroObservacoesCNH = Util.ChecarNulo(Request.Form["IdPreQuadroObservacoesCNH"]);
        chave = Util.ChecarNulo(Request.Form["chave"]);
        chaveAntiga = Util.ChecarNulo(Request.Form["chaveAntiga"]);
        descricao = Util.ChecarNulo(Request.Form["descricao"]);
        tipo = Util.ChecarNulo(Request.Form["tipo"]);

        botoes = new BotaoDao().GetAll();

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@idSessao", idSessao);
        parametros.Add("@IdPreQuadroObservacoesCNH", idPreQuadroObservacoesCNH);
        parametros.Add("@Chave", chave);
        parametros.Add("@ChaveAntiga", chaveAntiga);
        parametros.Add("@ChaveGrafica", chaveGrafica);
        parametros.Add("@Descricao", descricao);
        parametros.Add("@Tipo", tipo);

        new Dao().ExecutarAcao(acao, parametros);
    }
    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@idSessao", idSessao);
        parametros.Add("@IdPreQuadroObservacoesCNH", idPreQuadroObservacoesCNH);

        quadrosObservacoesCNH = new Dao().ExecutarAcaoList<QuadroObservacoesCNH>("C", parametros);
    }

    private void LimpaVariaveis()
    {
        acao = null;
        idPreQuadroObservacoesCNH = null;
        chave = null;
        chaveAntiga = null;
        chaveGrafica = null;
        tipo = null;

    }

    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && quadrosObservacoesCNH != null && quadrosObservacoesCNH.Count == 1)
        {
            QuadroObservacoesCNH quadroObservacoesCNH = quadrosObservacoesCNH.FirstOrDefault();
            idPreQuadroObservacoesCNH = quadroObservacoesCNH.IdPreQuadroObservacoesCNH;
            chave = quadroObservacoesCNH.Chave;
            chaveAntiga = quadroObservacoesCNH.ChaveAntiga;
            chaveGrafica = quadroObservacoesCNH.ChaveGrafica;
            tipo = quadroObservacoesCNH.Tipo;
        }
    }

}
@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "E" || acao == "A")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();
            view = View.Index;
            LimpaVariaveis();

            ModelState.AddError("alert-success", "Operaçăo realizada com sucesso");
        }, this.ModelState);
    }

    Util.ExceptionHandler(() =>
    {
        Consultar();
        CarregarDados();
    }, this.ModelState);

}
@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
}
<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idPreQuadroObservacoesCNH" id="idPreQuadroObservacoesCNH" value="@idPreQuadroObservacoesCNH">

        <div class="container">

            @PageHelper.MakeAlert();

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>

            @if (view == View.New)
            {
                @PageHelper.MakeBotao(botoes, "I");
            }

            @if (view == View.Edit)
            {
                @PageHelper.MakeBotao(botoes, "A");
                @PageHelper.MakeBotao(botoes, "E");
            }

            @if (view == View.New || view == View.Edit)
            {
                <div class=" mb-3">
                    <label class="form-label mt-3" for="chaveAntiga">Chave Antiga</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "chaveAntiga")" type="text" name="chaveAntiga" id="chaveAntiga" size="3" maxlength="2" value="@chaveAntiga" />
                    @PageHelper.MakeFeedBack("chaveAntiga")

                    <label class="form-label mt-3" for="chave">Chave</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "chave")" type="text" name="chave" id="chave" size="3" maxlength="2" value="@chave" />
                    @PageHelper.MakeFeedBack("chave")

                    <label class="form-label mt-3" for="chaveGrafica">Chave Gráfica</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "chaveGrafica")" type="text" name="chaveGrafica" id="chaveGrafica" size="3" maxlength="2" value="@chaveGrafica" />
                    @PageHelper.MakeFeedBack("chaveGrafica")

                    <label class="form-label mt-3" for="descricao">Descriçăo</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "descricao")" type="text" name="descricao" id="descricao" size="100" maxlength="200" value="@descricao" />
                    @PageHelper.MakeFeedBack("descricao")

                    <div class="mb-3">
                        <label class="form-label" for="tipo">Tipo</label>
                        <select class="form-control  @Util.IsInvalid(ModelState,"tipos")" id="tipos" name="tipos">
                            <option value=""></option>
                            <option value="A" @(tipo == "A" ? "selected" : "")>Ativo</option>
                            <option value="P" @(tipo == "P" ? "selected" : "")>Ativo</option>
                        </select>
                        @PageHelper.MakeFeedBack("tipos")
                    </div>

                </div>
            }
            else if (view == View.Index)
            {
                if (botoes.Any(x => x.Codigo == "I"))
                {
                    <button class="btn btn-secondary" type="button" onclick="adicionarNovo()">Novo</button>
                }

                if (quadrosObservacoesCNH != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Chave Antiga</th>
                                <th>Chave</th>
                                <th>Chave Gráfica</th>
                                <th>Descriçăo</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (QuadroObservacoesCNH item in quadrosObservacoesCNH)
                            {
                                <tr onclick="editar('@item.IdPreQuadroObservacoesCNH')">
                                    <td>@item.ChaveAntiga</td>
                                    <td>@item.Chave</td>
                                    <td>@item.ChaveGrafica</td>
                                    <td>@item.Descricao</td>
                                    <td>@(item.Tipo=="A"?"Ativo":"Passivo")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </form>
</body>
<script src="~/Scripts/Scripts.js"></script>
<script>
    function editar(idPreQuadroObservacoesCNH) {
        document.form1.view.value = "@((int)View.Edit)";
        document.form1.IdPreQuadroObservacoesCNH.value = idPreQuadroObservacoesCNH;
        executaAcao('C');
    }
    function adicionarNovo() {
        document.form1.view.value = "@((int)View.New)";
        executaAcao('');
    }
</script>