@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Arquivo - Educacao";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}
@functions{
    private class Correcao
    {
        public string Placa { get; set; }
        public string Renavam { get; set; }
        public string NovoRenavam { get; set; }
        public string Descricao { get; set; }
        public string MotivoCorrecao { get; set; }
    }

    string acao = null;
    string idSessao = null;
    string placa = null;
    string renavam = null;
    string novoRenavam = null;
    string descricao = null;
    string motivoCorrecao = null;

    List<Botao> botoes = null;
    List<Correcao> correcoes = null;

    private void AlimentaVariaveis()
    {
        idSessao = Session["idSessao"].ToString();

        placa = Util.ChecarNulo(Request.Form["placa"]);
        if (placa == null)
        {
            placa = Util.ChecarNulo(Request.Form["ocultoPlaca"]);
        }

        renavam = Util.ChecarNulo(Request.Form["renavam"]);
        if (renavam == null)
        {
            renavam = Util.ChecarNulo(Request.Form["ocultoRenavam"]);
        }

        descricao = Util.ChecarNulo(Request.Form["ocultoDescricao"]);
        novoRenavam = Util.ChecarNulo(Request.Form["novoRenavam"]);
        motivoCorrecao = Util.ChecarNulo(Request.Form["motivoCorrecao"]);

        botoes = new BotaoDao().GetAll();

    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdSessao", idSessao);
        parametros.Add("@Placa", placa);
        parametros.Add("@Renavam", renavam);
        parametros.Add("@NovoRenavam", novoRenavam);
        parametros.Add("@MotivoCorrecao", motivoCorrecao);

        new Dao().ExecutarAcao(acao, parametros);
    }
    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdSessao", idSessao);
        parametros.Add("@Placa", placa);
        parametros.Add("@Renavam", renavam);

        correcoes = new Dao().ExecutarAcaoList<Correcao>("C", parametros);
    }

    private void LimpaVariaveis()
    {
        acao = null;
        placa = null;
        renavam = null;
        novoRenavam = null;
        descricao = null;
        motivoCorrecao = null;

    }

    private void CarregarDados()
    {
        if (acao == "C" && correcoes != null && correcoes.Count == 1)
        {
            Correcao correcao = correcoes.FirstOrDefault();
            placa = correcao.Placa;
            renavam = correcao.Renavam;
            novoRenavam = correcao.NovoRenavam;
            descricao = correcao.Descricao;
            motivoCorrecao = correcao.MotivoCorrecao;
        }
    }

}
@{

    AlimentaVariaveis();

    if (acao == "A")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();
            LimpaVariaveis();

            ModelState.AddError("alert-success", "Operaçăo realizada com sucesso");
        }, this.ModelState);
    }

    Util.ExceptionHandler(() =>
    {
        Consultar();
        CarregarDados();
    }, this.ModelState);

}
@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
}
<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" value="@placa" name="ocultoPlaca" id="ocultoPlaca">
        <input type="hidden" value="@renavam" name="ocultoRenavam" id="ocultoRenavam">
        <input type="hidden" value="@descricao" name="ocultoDescricao" id="ocultoDescricao">

        <div class="container">

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>

            <div class=" mb-3">
                <label class="form-label mt-3" for="placa">Placa</label>
                <input class="form-control @Util.IsInvalid(ModelState, "placa")" type="text" name="placa" id="placa" size="7" value="@placa" maxlength="7" onKeyPress="maiusculo()" />
                @PageHelper.MakeFeedBack("placa")

                <label class="form-label mt-3" for="renavam">Renavam</label>
                <input class="form-control @Util.IsInvalid(ModelState, "renavam")" type="text" name="renavam" id="renavam" value="@renavam" onKeyPress="isnumeric() />
                @PageHelper.MakeFeedBack("renavam")

            </div>
            <div>
                @if (correcoes != null)
                {
                    @PageHelper.MakeBotao(botoes, "A");

                    <label class="form-label mt-3" for="novoRenavam">Novo Renavam</label>
                    <input class="form-control @Util.IsInvalid(ModelState, "novoRenavam")" type="text" name="novoRenavam" id="novoRenavam" size="12" value="@novoRenavam" maxlength="11" onKeyPress="isnumeric()" />
                    @PageHelper.MakeFeedBack("novoRenavam")

                    <div class="mb-3">
                        <label class="form-label" for="motivoCorrecao">Tipo</label>
                        <select class="form-control  @Util.IsInvalid(ModelState,"motivoCorrecao")" id="motivoCorrecao" name="motivoCorrecao">
                            <option value=""></option>
                            <option value="1" @(motivoCorrecao == "1" ? "selected" : "")>Código RENAVAM duplicado na BIN</option>
                            <option value="2" @(motivoCorrecao == "2" ? "selected" : "")>Código RENAVAM duplicado na Base Estadual</option>
                        </select>
                        @PageHelper.MakeFeedBack("motivoCorrecao")
                    </div>
                }
            </div>
        </div>
    </form>
</body>