@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Operadores";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}


@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }


    private class Operador
    {
        public string IdOperador { get; set; }
        public string Cpf { get; set; }
        public string Nome { get; set; }
        public string Senha { get; set; }

    }

    string senha = null;
    string acao = null;
    string idOperador = null;
    Operador operador = null;
    View view = View.Index;
    List<Operador> operadores = null;
    List<Botao> botoes = null;

    private void AlimentaVariaveis()
    {
        acao = Util.ChecaNulo(Request.Form["acao"]);
        idOperador = Util.ChecaNulo(Request.Form["idOperador"]);
        botoes = new BotaoDao().GetAll();

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }
    }


    private void LimparVariaveis()
    {
        acao = null;
        idOperador = null;
        operador = null;

    }

    private void GerarSenha()
    {
        string minusculas = "abcdefghijklmnopqrstuvwxyz";
        string especiais = "!@#$%^&*()-_=+[{]};:'\",<.>/?\\|";
        string maiusculas = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        string numeros = "0123456789";
        string todosOsCaracteres = minusculas + maiusculas + especiais + numeros;
        List<char> senhalist = new List<char>();
        Random random = new Random();
        senhalist.Add(minusculas[random.Next(0, minusculas.Length)]);
        senhalist.Add(maiusculas[random.Next(0, maiusculas.Length)]);
        senhalist.Add(numeros[random.Next(0, numeros.Length)]);
        senhalist.Add(especiais[random.Next(0, especiais.Length)]);
        do
        {
            senhalist.Add(todosOsCaracteres[random.Next(0, todosOsCaracteres.Length)]);
        } while (senhalist.Count < 12);

        for (int i = 0; i < senhalist.Count; i++)
        {
            char temp;
            int j = random.Next(0, senhalist.Count);
            temp = senhalist[j];
            senhalist[j] = senhalist[i];
            senhalist[i] = temp;
        }

        senha = new string(senhalist.ToArray());
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdOperador", idOperador);

        operadores = new Dao().ExecutarAcaoList<Operador>("C", parametros);
    }




    private string IsInvalid(string key)
    {
        return (!ModelState.IsValidField(key) ? "is-invalid" : "");
    }

    private void Manutencao()
    {

        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdOperador", idOperador);
        parametros.Add("@CPF", operador.Cpf);
        parametros.Add("@NOME", operador.Nome);
        parametros.Add("@SENHA", operador.Senha);

        new Dao().ExecutarAcao(acao, parametros);

    }

    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && operadores != null && operadores.Count == 1)
        {
            operador = operadores.FirstOrDefault();
        }
    }


}

@{
    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(() =>
        {
            operador = new Operador()
            {
                IdOperador = Util.ChecaNulo(Request.Form["idOperador"]),
                Cpf = Util.ChecaNulo(Request.Form["cpf"]),
                Nome = Util.ChecaNulo(Request.Form["nome"]),
                Senha = Util.ChecaNulo(Request.Form["senha"])
            };

            Manutencao();
            LimparVariaveis();
            ModelState.AddError("alert-success", "Operação realizada com sucesso");
            view = View.Index;
        }, this.ModelState);

    }

    if (acao == "SENHA")
    {
        GerarSenha();
        Response.Write(senha);
        Response.End();
    }

    Util.ExceptionHandler(() =>
    {
        Consultar();
        CarregarDados();
    }, this.ModelState);

    if (operador == null)
    {
        operador = new Operador();
    }






}

@section head {

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idOperador" id="idOperador" value="@idOperador" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">

            <div class="row g-3">
                <div>
                    @RenderPage("~/AreaRestrita/Menu.cshtml")
                </div>
                <div>
                    <h1>Operadores</h1>
                </div>


                @if (view == View.Edit || view == View.New)
                {
                    <div class="col-12 mb-3">
                        @PageHelper.MakeAlert()
                    </div>

                    <div class="col-md-4">
                        <label for="cpf" class="form-label">CPF</label>
                        <input class="form-control @IsInvalid("cpf")" placeholder="01234567890" type="text" name="cpf" id="cpf" value="@operador.Cpf" />
                        @PageHelper.MakeFeedBack("cpf")
                    </div>

                    <div class="col-md-4">
                        <label for="nome" class="form-label">Nome</label>
                        <input class="form-control @IsInvalid("nome")" placeholder="Zé Ninguém" type="text" name="nome" id="nome" value="@operador.Nome" />
                        @PageHelper.MakeFeedBack("nome")
                    </div>

                    <div class="col-md-4">
                        <div class="d-flex gap-2 align-items-start">
                            <div class="flex-grow-1">
                                <label for="senha" class="form-label">Senha</label>
                                <input class="form-control @IsInvalid("senha")" placeholder="senhaTeste123$" type="text" name="senha" id="senha" value="@operador.Senha" />
                                @PageHelper.MakeFeedBack("senha")
                            </div>
                            <button class="btn btn-outline-primary mt-auto" type="button" onclick="gerarSenha()">Gerar Senha</button>
                        </div>

                    </div>


                    <div class="col-12">
                        <label for="inputEndereco" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="inputEndereco" placeholder="Rua dos bobos, Nº0">
                    </div>
                    <div class="col-12">
                        <label for="inputComplemento" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="inputComplemento" placeholder="Apartamento, condominio ou referencia">
                    </div>
                    <div class="col-md-4">
                        <label for="inputCidade" class="form-label">Cidade</label>
                        <input type="text" class="form-control" id="inputCidade">
                    </div>
                    <div class="col-md-4">
                        <label for="inputBairro" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="inputBairro">
                    </div>
                    <div class="col-md-2">
                        <label for="inputEstado" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="inputEstado">
                    </div>
                    <div class="col-md-2">
                        <label for="inputCEP" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="inputCEP" onchange="buscarCEP()">
                    </div>




                    <div class="col-md-4">
                        <button class="btn btn-outline-primary" type="submit" onclick="estadoInicial()"><i class="bi bi-eraser-fill"></i> Limpar</button>
                    </div>

                }

                @if (view == View.Index)
                {
                    if (botoes.Any(x => x.Codigo == "I"))
                    {
                        <div class="col-md-4 mb-3">
                            <button class="btn btn-primary btn-sm" type="submit" onclick="novo()"><i class="bi bi-file-earmark-plus"></i> Novo</button>
                        </div>
                    }
                }

                @if (view == View.New || view == View.Edit)
                {
                    <div class="col-12 mb-5">
                        @if (view == View.New)
                        {
                            @PageHelper.MakeBotao(botoes, "I")

                        }
                        @if (view == View.Edit)
                        {
                            @PageHelper.MakeBotao(botoes, "A")
                            @PageHelper.MakeBotao(botoes, "E")
                        }
                    </div>
                }
            </div>



            @if (view == View.Index)
            {

                if (operadores != null)
                {
                    <div>
                        <table class="table table-striped rounded mb-0">
                            <colgroup>
                                <col style="width: 10%" />
                                <col style="width: 35%" />
                                <col style="width: 35%" />
                                <col style="width: 10%" />
                                <col style="width: 10%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center align-middle" scope="col">Id</th>
                                    <th scope="col">CPF</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Senha</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">

                                @foreach (Operador item in operadores)
                                {
                                    <tr data-idOperador="@item.IdOperador">
                                        <td class="text-center align-middle">#@item.IdOperador</td>
                                        <td>@item.Cpf</td>
                                        <td>@item.Nome</td>
                                        <td>@item.Senha</td>
                                        <td class="text-center align-middle">
                                            @if (botoes.Any(x => x.Codigo == "A" || x.Codigo == "E"))
                                            {
                                                <button class="btn btn-warning btn-sm" type="button" onclick="editar('@item.IdOperador')"><i class="bi bi-pencil-square"></i> Editar</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                }
            }


        </div>
    </form>

    <div class="modal fade" id="acoesOperador" tabindex="-1" aria-labelledby="acoesOperadorLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="acoesOperadorLabel">Historico de ações do Operador</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="form2" id="form2" method="post">
                        <input type="hidden" name="acao" id="acao" />

                        <div class="container">


                            <div>
                                Exibindo
                                <span id="span-infoPaginacaoInicio" class="text-primary"></span>
                                <span id="span-infoPaginacaoFim" class="text-primary"></span>
                                de
                                <span id="span-totalRegistros"></span>
                                registros
                            </div>

                            <div class="card mt-2">
                                <div class="p-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                                    Datas
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <div class="px-2">
                                                        <label for="dataInicio">De</label>
                                                        <input type="date" id="dataInicio" name="dataInicio" class="form-control form-control-sm" />

                                                        <label for="dataFim">Até</label>
                                                        <input type="date" id="dataFim" name="dataFim" class="form-control form-control-sm" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" name="limpar" id="limpar" class="btn btn-sm btn-outline-secondary">Limpar</button>
                                            <button type="button" name="filtrar" id="filtrar" class="btn btn-sm btn-primary">Filtrar</button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                                <label class="btn btn-sm btn-outline-success" for="btncheck1">INSERT</label>

                                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                                                <label class="btn btn-sm btn-outline-warning" for="btncheck2">UPDATE</label>

                                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                                <label class="btn btn-sm btn-outline-danger" for="btncheck3">DELETE</label>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <select id="quantidadePorPagina" name="quantidadePorPagina" class="form-select form-select-sm">
                                                <option value="10">10 por página</option>
                                                <option value="20">20 por página</option>
                                                <option value="50">50 por página</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="resultado"></div>
                                <div class="card-footer">
                                    <div id="paginacao" class="row justify-content-center">
                                        <div class="col-auto">
                                            <button type="button" id="btn-paginacaoPrimeiro" class="btn btn-outline-secondary js-mudarPagina" title="Ir para o primeiro" data-acao="PRIMEIRO" disabled><<</button>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" id="btn-paginacaoAnterior" class="btn btn-outline-secondary js-mudarPagina" title="Anterior" data-acao="ANTERIOR" disabled><</button>
                                        </div>
                                        <div class="col-auto">
                                            Pagina
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select js-mudarPagina" name="pagina" id="pagina"></select>
                                        </div>
                                        <div class="col-auto">
                                            de <span id="quantidadeDePaginas"></span>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" id="btn-paginacaoProximo" class="btn btn-outline-secondary js-mudarPagina" title="Próximo" data-acao="PROXIMO" disabled>></button>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" id="btn-paginacaoUltimo" class="btn btn-outline-secondary js-mudarPagina" title="Ir para o último" data-acao="ULTIMO" disabled>>></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Imprimir</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        var idOperadorModal = null;

        function editar(idOperador) {
            document.form1.view.value = "@((int)View.Edit)";
            document.form1.idOperador.value = idOperador;
            executarAcao('C');
        }

        function novo() {
            document.form1.view.value = "@((int)View.New)";
            document.form1.submit();
        }

        function gerarSenha() {
            $.ajax({
                method: "POST",
                url: "/AreaRestrita/Admin/Seguranca/Operador.cshtml",
                data: { acao: "SENHA"}
            }).done(function (res) {
                $("#senha").val(res)
            })
        }

        function buscarCEP() {
            var cep = $("#inputCEP").val()

            $.ajax({
                method: "GET",
                url: "https://viacep.com.br/ws/" + cep + "/json/"
            }).done(function (res) {
                $("#inputEstado").val(res.uf)
                $("#inputBairro").val(res.bairro)
                $("#inputCidade").val(res.localidade)
                $("#inputEndereco").val(res.logradouro)
            })
        }

        function consultarItens() {
            var resultado = document.querySelector('.resultado');

            let quantidadePorPagina = document.form2.quantidadePorPagina.value;
            let pagina = document.form2.pagina.value;
            let dataInicio = document.form2.dataInicio.value;
            let dataFim = document.form2.dataFim.value;

            var tipos = [];
            if (document.getElementById("btncheck1").checked) tipos.push("I");
            if (document.getElementById("btncheck2").checked) tipos.push("U");
            if (document.getElementById("btncheck3").checked) tipos.push("D");
            var tipoOperacao = tipos.join(",");

            $.ajax({
                type: "POST",
                url: "ConsultaAuxAcoesOperador.cshtml",
                data: {
                    quantidadePorPagina: quantidadePorPagina,
                    pagina: pagina,
                    tipoOperacao: tipoOperacao,
                    dataInicio: dataInicio,
                    dataFim: dataFim,
                    idOperador: idOperadorModal
                },
                success: function (res) {
                    resultado.innerHTML = res;

                    const totalRegistros = parseInt(resultado.querySelector("#totalRegistros").innerText);
                    atualizarPaginacao(pagina, totalRegistros);
                },
                error: function (xhr) {
                    resultado.innerHTML = xhr.responseText;
                }
            });
        }

        function atualizarPaginacao(pagina, totalRegistros) {
            var infoPaginacaoInicio = document.querySelector("#span-infoPaginacaoInicio");
            var infoPaginacaoFim = document.querySelector("#span-infoPaginacaoFim");
            var infoTotalRegistros = document.querySelector("#span-totalRegistros");
            var infoQuantidadeDePaginas = document.querySelector("#quantidadeDePaginas");
            var quantidadePorPagina = parseInt(document.form2.quantidadePorPagina.value);
            var selectPaginas = document.querySelector("#pagina");

            let paginacaoInicio = 0;
            let paginacaoFim = 0;
            let quantidadeDePaginas = 0;

            if (totalRegistros == 0) {
                pagina = "";
            }

            if (totalRegistros > 0) {
                if (pagina == "") {
                    pagina = 1;
                }

                paginacaoInicio = ((pagina - 1) * quantidadePorPagina) + 1;

                if (pagina * quantidadePorPagina <= totalRegistros) {
                    paginacaoFim = pagina * quantidadePorPagina;
                } else {
                    paginacaoFim = totalRegistros;
                }

                if (totalRegistros % quantidadePorPagina == 0) {
                    quantidadeDePaginas = parseInt(totalRegistros / quantidadePorPagina);
                } else {
                    quantidadeDePaginas = parseInt(totalRegistros / quantidadePorPagina + 1);
                }
            }

            infoPaginacaoInicio.innerHTML = `<b>${paginacaoInicio}</b>`;
            infoPaginacaoFim.innerHTML = `<b>- ${paginacaoFim}</b>`;
            infoTotalRegistros.innerHTML = `<b>${totalRegistros}</b>`;
            infoQuantidadeDePaginas.innerHTML = quantidadeDePaginas;

            selectPaginas.innerHTML = "";

            for (var i = 1; i <= quantidadeDePaginas; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.textContent = i;
                selectPaginas.appendChild(option);
            }

            selectPaginas.value = pagina;
            atualizarBotoes(pagina, quantidadeDePaginas);
        }

        function atualizarBotoes(pagina, quantidadeDePaginas) {
            var btnPrimeiro = document.querySelector("#btn-paginacaoPrimeiro");
            var btnAnterior = document.querySelector("#btn-paginacaoAnterior");
            var btnProximo = document.querySelector("#btn-paginacaoProximo");
            var btnUltimo = document.querySelector("#btn-paginacaoUltimo");

            if (pagina == "") {
                btnProximo.disabled = true;
                btnUltimo.disabled = true;
                btnAnterior.disabled = true;
                btnPrimeiro.disabled = true;
            } else if (pagina == 1) {
                btnAnterior.disabled = true;
                btnPrimeiro.disabled = true;

                if (quantidadeDePaginas == 1) {
                    btnProximo.disabled = true;
                    btnUltimo.disabled = true;
                } else {
                    btnProximo.disabled = false;
                    btnUltimo.disabled = false;
                }
            } else if (pagina == quantidadeDePaginas) {
                btnProximo.disabled = true;
                btnUltimo.disabled = true;
                btnAnterior.disabled = false;
                btnPrimeiro.disabled = false;
            } else {
                btnProximo.disabled = false;
                btnUltimo.disabled = false;
                btnAnterior.disabled = false;
                btnPrimeiro.disabled = false;
            }
        }

        function mudarPagina(acao = null) {
            var pagina = parseInt(document.form2.pagina.value);

            if (acao) {
                switch (acao) {
                    case "PROXIMO":
                        pagina++;
                        break;
                    case "ANTERIOR":
                        pagina--;
                        break;
                    case "PRIMEIRO":
                        pagina = 1;
                        break;
                    case "ULTIMO":
                        pagina = parseInt(document.querySelector("#quantidadeDePaginas").innerText);
                        break;
                }

                document.form2.pagina.value = pagina;
            }

            consultarItens();
        }

        

        function adicionarEventos() {
            Array.from(form2.querySelectorAll(".js-mudarPagina")).forEach(function (item) {
                if (item.tagName.toLowerCase() == "select") {
                    item.addEventListener("change", () => mudarPagina());
                } else if (item.tagName.toLowerCase() == "button") {
                    item.addEventListener("click", () => {
                        mudarPagina(item.getAttribute("data-acao"));
                    });
                }
            });

            document.form2.querySelector("#quantidadePorPagina").addEventListener("change", () => {
                document.form2.pagina.value = 1;
                consultarItens();
            });

            document.getElementById("filtrar").addEventListener("click", () => {
                document.form2.pagina.value = 1;
                consultarItens();
            });

            document.getElementById("limpar").addEventListener("click", () => {
                document.form2.pagina.value = 1;
                document.form2.dataInicio.value = "";
                document.form2.dataFim.value = "";
                document.getElementById("btncheck1").checked = false;
                document.getElementById("btncheck2").checked = false;
                document.getElementById("btncheck3").checked = false;
                consultarItens();
            });
        }

        var eventosAdicionados = false;

        $(document).ready(function () {
            $("tbody tr").click(function () {
                idOperadorModal = $(this).data("idoperador");

                if (!eventosAdicionados) {
                    adicionarEventos();
                    eventosAdicionados = true;
                }

                consultarItens();
                new bootstrap.Modal(document.getElementById('acoesOperador')).show();
            });
        });
    </script>


</body>


