@RenderPage("~/AreaRestrita/Seguranca.cshtml")
@{
    Page.Title = "Jogos";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}



@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }

    private class Jogo
    {

        public string IdJogo { get; set; }
        public string IdTime1 { get; set; }
        public string NomeTime1 { get; set; }
        public string IdTime2 { get; set; }
        public string NomeTime2 { get; set; }
        public string Placar1 { get; set; }
        public string Placar2 { get; set; }
        public string DataInicio { get; set; }
        public string HoraInicio { get; set; }
        public string DataFinal { get; set; }
        public string HoraFinal { get; set; }
        public string CaminhoArq { get; set; }

    }

    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }

    }

    string acao = null;
    string idJogo = null;
    List<Botao> botoes = null;
    Jogo jogo = null;
    List<Jogo> jogos = null;
    List<Time> times = null;
    View view = View.Index;
    string extencoesValidas = ".pdf";
    HttpPostedFileBase arquivo = null;
    string caminhoArquivo = null;
    string caminhoLogico = null;
    int tipo;
    private void AlimentaVariaveis()
    {
        acao = Util.ChecaNulo(Request.Form["acao"]);
        idJogo = Util.ChecaNulo(Request.Form["idJogo"]);
        botoes = new BotaoDao().GetAll();

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }

        if (Request.Files.Count > 0)
        {
            arquivo = Request.Files["arquivo"];
        }
        if (!string.IsNullOrWhiteSpace(Request.Form["tipo"]))
        {
            tipo = int.Parse(Request.Form["tipo"]);
        }
    }

    private string IsInvalid(string key)
    {
        return (!ModelState.IsValidField(key) ? "is-invalid" : "");
    }

    //Metodo invocado após a manutenção paral limpar os valores das variáveis que estão na memoria do servidor.
    private void LimparVariaveis()
    {
        acao = null;
        idJogo = null;
        jogo = null;
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@Tipo", 1);
        parametros.Add("@IdJogo", idJogo);

        jogos = new Dao().ExecutarAcaoList<Jogo>("C", parametros);
    }


    private void ConsultaTime()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@Tipo", 2);

        times = new Dao().ExecutarAcaoList<Time>("C", parametros);
    }



    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogo", idJogo);
        parametros.Add("@IdTime1", jogo.IdTime1);
        parametros.Add("@IdTime2", jogo.IdTime2);
        parametros.Add("@DataHoraInicio", DateTime.Parse($"{jogo.DataInicio} {jogo.HoraInicio}").ToString("yyyy-MM-dd HH:mm:ss"));
        parametros.Add("@DataHoraFinal", DateTime.Parse($"{jogo.DataFinal} {jogo.HoraFinal}").ToString("yyyy-MM-dd HH:mm:ss"));
        parametros.Add("@Tipo", 1);

        new Dao().ExecutarAcao(acao, parametros);

    }

    private void ManutencaoArquivo()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogo", idJogo);
        parametros.Add("@CaminhoArq", jogo.CaminhoArq);
        parametros.Add("@Tipo", tipo);

        new Dao().ExecutarAcao(acao, parametros);

    }

    private void Excluir()
    {
        File.Delete(Server.MapPath($"arquivos/{idJogo}/sumula.pdf"));

        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogo", idJogo);
        parametros.Add("@Tipo", tipo);

        new Dao().ExecutarAcao(acao, parametros);

    }

    private void SalvarArquivo()
    {
        if (arquivo == null)
        {
            throw new InvalidOperationException("Anexe o arquivo");
        }
        if (string.IsNullOrWhiteSpace(arquivo.FileName))
        {
            throw new InvalidOperationException("Não foi possivel identificar o nome do arquivo!");
        }

        if (arquivo.ContentLength > 512 * 1000)
        {
            ModelState.AddError("arquivo", "Arquivo deve ter o tamanho de até 512KB");
            return;
        }
        if (!Directory.Exists(Server.MapPath($"arquivos/{idJogo}")))
        {
            Directory.CreateDirectory(Server.MapPath($"arquivos/{idJogo}"));
        }

        caminhoArquivo = Path.Combine(Server.MapPath($"arquivos/{idJogo}/sumula.pdf"));

        arquivo.SaveAs(caminhoArquivo);

        caminhoLogico = $"~/AreaRestrita/arquivos/{idJogo}/sumula.pdf";
    }

    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && jogos != null && jogos.Count == 1)
        {
            jogo = jogos.FirstOrDefault();

        }
    }




}

@{
    AlimentaVariaveis();

    if ((acao == "I" || acao == "A" || acao == "E") && !(Request.Files.Count > 0) && tipo != 3)
    {
        Util.ExceptionHandler(() =>
        {
            jogo = new Jogo()
            {
                IdJogo = Util.ChecaNulo(Request.Form["idJogo"]),
                IdTime1 = Util.ChecaNulo(Request.Form["idTime1"]),
                IdTime2 = Util.ChecaNulo(Request.Form["idTime2"]),
                DataInicio = Util.ChecaNulo(Request.Form["dataInicio"]),
                HoraInicio = Util.ChecaNulo(Request.Form["horaInicio"]),
                DataFinal = Util.ChecaNulo(Request.Form["dataFinal"]),
                HoraFinal = Util.ChecaNulo(Request.Form["horaFinal"])


            };
            Manutencao();
            LimparVariaveis();
            ModelState.AddError("alert-success", "Operação realizada com sucesso");
            view = View.Index;
        }, this.ModelState);
    }
    else if (acao == "A" && Request.Files.Count > 0)
    {
        Util.ExceptionHandler(SalvarArquivo, this.ModelState);

        Util.ExceptionHandler(() =>
        {
            jogo = new Jogo()
            {
                IdJogo = Util.ChecaNulo(Request.Form["idJogo"]),
                CaminhoArq = Util.ChecaNulo(caminhoLogico)
            };
            tipo = 2;
            ManutencaoArquivo();
            ModelState.AddError("alert-success", "Operação realizada com sucesso");

        }, this.ModelState);

    }
    else if (acao == "A" && tipo == 3)
    {
        Excluir();
        
    }


    Util.ExceptionHandler(() =>
    {
        Consultar();
        CarregarDados();

    }, this.ModelState);


    Util.ExceptionHandler(ConsultaTime, this.ModelState);

    if (jogo == null)
    {
        jogo = new Jogo();
    }



}

@section head {
    <link rel="stylesheet" href="~/Scripts/Style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

<body>
    <form name="form1" method="post" enctype="multipart/form-data">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idJogo" id="idJogo" value="@idJogo" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">
            <div class="row g-3">
                <div>
                    @RenderPage("~/AreaRestrita/Menu.cshtml")
                </div>

                <div>
                    <h1>Jogos</h1>
                </div>

                @if (view == View.Edit || view == View.New)
                {

                    <div class="col-12">
                        @PageHelper.MakeAlert()
                    </div>

                    <div class="col-md-4">
                        <select class="form-select @IsInvalid("idtime1")" name="idTime1" id="idTime1">

                            <option value="">
                                Selecione um Time
                            </option>
                            @foreach (Time item in times)
                            {
                                <option @(item.IdTime == jogo.IdTime1 ? "selected" : "") value="@item.IdTime">
                                    @item.Nome
                                </option>
                            }
                        </select>
                        @PageHelper.MakeFeedBack("idtime1")
                    </div>

                    <div class="col-md-1 text-center">
                        <i class="bi bi-x-lg fs-4"></i>
                    </div>


                    <div class="col-md-4">
                        <select class="form-select @IsInvalid("idtime2")" name="idTime2" id="idTime2">

                            <option value="">
                                Selecione o Time Adversario
                            </option>
                            @foreach (Time item in times)
                            {
                                <option @(item.IdTime == jogo.IdTime2 ? "selected" : "") value="@item.IdTime">
                                    @item.Nome
                                </option>
                            }
                        </select>
                        @PageHelper.MakeFeedBack("idtime2")
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-outline-primary" type="submit" onclick="estadoInicial()"><i class="bi bi-eraser"></i> Limpar</button>
                    </div>


                    <div class="col-md-4">
                        <label for="data" class="form-label">Escolha uma data do inicio do jogo</label>
                        <input type="date" class="form-control @IsInvalid("dataInicio")" id="dataInicio" name="dataInicio" value="@jogo.DataInicio">
                        @PageHelper.MakeFeedBack("dataInicio")
                    </div>

                    <div class="col-md-1 text-center">

                    </div>

                    <div class="col-md-4">
                        <label for="data" class="form-label">Escolha uma data do fim do jogo</label>
                        <input type="date" class="form-control @IsInvalid("dataFinal")" id="dataFinal" name="dataFinal" value="@jogo.DataFinal">
                        @PageHelper.MakeFeedBack("dataFinal")
                    </div>

                    <div class="col-md-4">
                        <input type="time" step="1" class="form-control @IsInvalid("horaInicio")" id="horaInicio" name="horaInicio" placeholder="Selecione um horário" value="@jogo.HoraInicio">
                        @PageHelper.MakeFeedBack("horaInicio")
                    </div>

                    <div class="col-md-1 text-center">

                    </div>

                    <div class="col-md-4">
                        <input type="time" step="1" class="form-control @IsInvalid("horaFinal")" id="horaFinal" name="horaFinal" placeholder="Selecione um horário" value="@jogo.HoraFinal">
                        @PageHelper.MakeFeedBack("horaFinal")
                    </div>
                }


                @if (view == View.Index)
                {
                    if (botoes.Any(x => x.Codigo == "I"))
                    {
                        <div class="col-md-4 mb-3">
                            <button class="btn btn-primary btn-sm" type="submit" onclick="novo()"><i class="bi bi-file-earmark-plus"></i> Novo</button>
                        </div>
                    }
                }

                @if (view == View.New || view == View.Edit)
                {
                    <div class="col-12 mb-5">
                        @if (view == View.New)
                        {
                            @PageHelper.MakeBotao(botoes, "I")

                        }
                        @if (view == View.Edit)
                        {
                            @PageHelper.MakeBotao(botoes, "A")
                            @PageHelper.MakeBotao(botoes, "E")
                        }
                    </div>
                }
            </div>
            <div class="modal fade" id="modalArq" tabindex="-1" aria-labelledby="modalArqLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalArqLabel">Resumo/súmula do jogo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 mb-4">
                                    <div class="card shadow-sm p-4 campo-card">
                                        <div class="linha-meio-topo"></div>
                                        <div class="linha-meio-baixo"></div>

                                        <div class="row align-items-center justify-content-center">

                                            <div class="col-md-4 text-end">
                                                <h4 id="modalTime1" class="fw-bold mb-0"></h4>
                                                <span id="modalPlacar1" class="display-4 fw-bold text-primary"></span>
                                            </div>

                                            <div class="col-md-2 text-center">
                                                <span class="display-5 fw-bold">
                                                    <i class="fa fa-futbol-o"></i>
                                                </span>
                                            </div>

                                            <div class="col-md-4 text-start">
                                                <span id="modalPlacar2" class="display-4 fw-bold text-primary"></span>
                                                <h4 id="modalTime2" class="fw-bold mb-0"></h4>
                                            </div>

                                        </div>
                                        <div class="gol-direito"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="modalAlerta"></div>
                            @PageHelper.MakeAlert()
                            <div class="nt-5">
                                <div class="row">
                                    <div class="col">
                                        <input type="hidden" id="modalIdJogo" />
                                        <input type="file" id="arquivo" name="arquivo" class="form-control @IsInvalid("arquivo")" onchange="checkFile(this)" />
                                        @PageHelper.MakeFeedBack("arquivo")
                                    </div>

                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" id="botaoUpload">Enviar</button>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="small text-muted">Extenções válidas: @extencoesValidas</div>
                                    <div class="small text-muted">Tamanho do máximo do arquivo: 512kb</div>
                                </div>
                            </div>
                            <div class="card mt-3" id="cardSumula">
                                <div class="card-header">Súmula</div>
                                <div class="card-body">
                                    <div id="semSumula">
                                        <span class="text-muted">Nenhuma súmula anexada</span>
                                    </div>
                                    <div id="comSumula" style="display:none">
                                        <a id="linkDownload" target="_blank">Baixar súmula</a>
                                        <a id="linkExcluir" href="javascript:void(0)" class="ms-3">Excluir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            @if (view == View.Index)
            {
                if (jogos != null)
                {
                    <table class="table table-striped rounded mb-0">
                        <colgroup>
                            <col style="width: 5%" />
                            <col style="width: 18%" />
                            <col style="width: 18%" />
                            <col style="width: 18%" />
                            <col style="width: 18%" />
                            <col style="width: 18%" />
                            <col style="width: 5%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center align-middle">Id</th>
                                <th class="text-center align-middle">Time 1</th>
                                <th class="text-center align-middle">Placar</th>
                                <th class="text-center align-middle">Time 2</th>
                                <th class="text-center align-middle">Data do Inicio</th>
                                <th class="text-center align-middle">Fim do Jogo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @foreach (Jogo item in jogos)
                            {
                                <tr data-idjogo="@item.IdJogo" data-time1="@item.NomeTime1" data-time2="@item.NomeTime2" data-placar1="@item.Placar1" data-placar2="@item.Placar2" data-caminhoarq="@item.CaminhoArq">
                                    <td class="text-center align-middle">#@item.IdJogo</td>
                                    <td class="text-center align-middle">@item.NomeTime1</td>
                                    <td class="text-center align-middle">@item.Placar1 x @item.Placar2</td>
                                    <td class="text-center align-middle">@item.NomeTime2</td>
                                    <td class="text-center align-middle">@Util.FormatarData(@item.DataInicio, 103) @Util.FormatarData(@item.HoraInicio, 200)</td>
                                    <td class="text-center align-middle">@Util.FormatarData(@item.DataFinal, 103) @Util.FormatarData(@item.HoraFinal, 200)</td>

                                    <td>
                                        @if (botoes.Any(x => x.Codigo == "A" || x.Codigo == "E"))
                                        {
                                            <button class="btn btn-outline-dark btn-sm" type="button" onclick="editar('@item.IdJogo', event)">Editar</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }


        </div>
    </form>
    <script src="~/Scripts/Scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        function editar(idJogo, event) {
            event.stopPropagation();
            document.form1.idJogo.value = idJogo;
            document.form1.view.value = "@((int)View.Edit)";
            executarAcao("C")
        }


        function novo() {
            document.form1.view.value = "@((int)View.New)";
            document.form1.submit();
        }

        $(document).ready(function () {
            $("tbody tr").click(function () {
                var idJogo = $(this).data("idjogo");
                var time1 = $(this).data("time1");
                var time2 = $(this).data("time2");
                var placar1 = $(this).data("placar1");
                var placar2 = $(this).data("placar2");
                var arqCaminho = "/AreaRestrita/arquivos/" + idJogo + "/sumula.pdf";
                var caminhoArq = $(this).data("caminhoarq");

                $("#modalTime1").text(time1);
                $("#modalTime2").text(time2);
                $("#modalPlacar1").text(placar1);
                $("#modalPlacar2").text(placar2);
                $("#modalIdJogo").val(idJogo);


                $("#modalArq").modal("show");

                if (caminhoArq) {
                    $("#semSumula").hide();
                    $("#comSumula").show();
                    $("#linkDownload").attr("href", caminhoArq);
                } else {
                    $("#semSumula").show();
                    $("#comSumula").hide();
                }
            });
        });

        function checkFile(input) {
            const extencoesValidas = "@extencoesValidas".toLocaleUpperCase().split(",");
            const extencaoArquivo = input.value.substring(input.value.lastIndexOf("."));

            if (extencoesValidas.indexOf(extencaoArquivo.toLocaleUpperCase()) < 0) {
                alert("Formato de arquivo invalido. Extenções aceitas: " + extencoesValidas);
                input.value = "";
                return false
            }
            return true
        }

        $('#botaoUpload').on('click', function () {
            var formData = new FormData();
            var arquivo = $('#arquivo')[0].files[0];
            var idjogo = $("#modalIdJogo").val();
            var acao = "A";

            if (arquivo) {
                formData.append('arquivo', arquivo);
                formData.append('idJogo', idjogo);
                formData.append('acao', acao);

                $.ajax({
                    type: "POST",
                    url: '/AreaRestrita/Copa/Cadastro/Jogo.cshtml',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $("#modalAlerta").html('<div class="alert alert-success">Operação realizada com sucesso</div>');
                        var novosCaminho = "/AreaRestrita/arquivos/" + idjogo + "/sumula.pdf";

                        $("#semSumula").hide();
                        $("#comSumula").show();
                        $("#linkDownload").attr("href", novosCaminho);
                    },
                    error: function (xhr) {
                        $("#modalAlerta").html('<div class="alert alert-danger">Upload falhou</div>');
                    }

                });
            }
        });

        $('#linkExcluir').on('click', function () {
            var idjogo = $("#modalIdJogo").val();

            $.ajax({
                type: "POST",
                url: '/AreaRestrita/Copa/Cadastro/Jogo.cshtml',
                data: { acao: "A", idJogo: idjogo, tipo: 3 },
                success: function () {
                    $('tr[data-idjogo="' + idjogo + '"]').data("caminhoarq", "");
                    $("#modalAlerta").html('<div class="alert alert-success">Súmula excluída com sucesso</div>');
                    $("#comSumula").hide();
                    $("#semSumula").show();
                },
                error: function () {
                    $("#modalAlerta").html('<div class="alert alert-danger">Erro ao excluir</div>');
                }
            });
        });



    </script>


</body>


