@using System.Web;
@{
    Page.Title = "Controle de Acesso";
    Layout = "~/ControleAcesso/_Layout.cshtml";
}
@functions{
    public class Operador
    {
        public string IdOperador { get; set; }
        public string Nome { get; set; }

    }

    string acao = null;
    string cpf = null;
    string senha = null;
    bool redirect = false;

    private void AlimentaVariavesis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        cpf = Util.ChecarNulo(Request.Form["cpf"]);
        senha = Util.ChecarNulo(Request.Form["senha"]);
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@Cpf", cpf);
        parametros.Add("@Senha", senha);

        List<Operador> operadores = new Dao().ExecutarProcedureList<Operador>("stp_Das_AbreSessao", parametros);

        if (operadores != null)
        {
            Operador operador = operadores.FirstOrDefault();
            Session["IdOperador"] = operador.IdOperador;

            redirect = true;
            //Response.Redirect("~/");

        }
    }
}
@{
    AlimentaVariavesis();

    if (acao == "A")
    {
        Consultar();
    }
}


@section head {
    @if (redirect)
    {
        <meta http-equiv="refresh" content="3;url=/" />
    }
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" value="@acao" />

        @if (redirect)
        {
            <h1>Operação realizada com sucesso</h1>
            <div>Aguarde o redirecionamento</div>
        }
        else
        {

            <div class="row">
                <div class="col">
                    <label>CPF</label>
                    <input type="text" name="cpf" value="@cpf" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Senha</label>
                    <input type="password" name="senha" value="@senha" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" onclick="acessar()">Acessar</button>
                </div>
            </div>
        }
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function acessar() {
            document.form1.acao.value = "A";
            document.form1.submit();
        }

        consultarSetarTema()

    </script>
</body>
