@{
    Page.Title = "Controle de Acesso";
    Layout = "~/ControleAcesso/_Layout.cshtml";
}

@functions
{
    public class Operador
    {
        public string IdOperador { get; set; }
        public string Nome { get; set; }
    }

    string acao = null;
    string cpf = null;
    string senha = null;
    bool redirect = false;

    private void AlimentarVariaveis()
    {
        acao = Util.ChecaNulo(Request.Form["acao"]);
        cpf = Util.ChecaNulo(Request.Form["cpf"]);
        senha = Util.ChecaNulo(Request.Form["senha"]);
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@Cpf", cpf);
        parametros.Add("@Senha", senha);

        List<Operador> operadores = new Dao().ExecutarProcedureList<Operador>("stp_Ism_AbreSessao", parametros);

        if (operadores != null)
        {
            Operador operador = operadores.FirstOrDefault();
            if (operador != null)
            {
                Session["IdOperador"] = operador.IdOperador;
                redirect = true;
            }
        }
    }
}

@{
    AlimentarVariaveis();
    if (acao == "A")
    {
        Util.ExceptionHandler(() =>
        {
            Consultar();

        }, this.ModelState);
    }
}


<link rel="stylesheet" href="~/Scripts/Login.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">


@if (redirect)
{


    <div class="col-md-12">
        <div style="text-align:center; margin-top: 100px;">
            <meta http-equiv="refresh" content="3;url=/" />
            <h1>Operação realizada com sucesso</h1>
            <p>Aguarde o redirecionamento...</p>
        </div>
    </div>

}
else
{

    <body>
        <div class="login-container">


            <div class="bg-image"></div>
            <div class="bg-overlay"></div>


            <div class="divider-line"></div>


            <div class="left-panel">

                <div class="logo-wrap">
                    <img src="~/Imagens/Logo.png" alt="Logo" />
                </div>

                <div class="login-card">
                    <h2>Bem-vindo</h2>
                    <p class="subtitle">Faça login para continuar</p>


                    <form name="form1" method="post">
                        <input type="hidden" name="acao" value="" />

                        <div class="input-group-custom">
                            <i class="bi bi-person"></i>
                            <input type="text"
                                   name="cpf"
                                   placeholder="CPF"
                                   value="@cpf"
                                   autocomplete="username" />
                            @PageHelper.MakeFeedBack("cpf")
                        </div>

                        <div class="input-group-custom">
                            <i class="bi bi-lock"></i>
                            <input type="password"
                                   name="senha"
                                   placeholder="Senha"
                                   autocomplete="current-password" />
                            @PageHelper.MakeFeedBack("senha")
                        </div>

                        <button class="btn-login" type="button" onclick="acessar()">
                            <i class="bi bi-door-open"></i> ACESSAR
                        </button>
                    </form>
                </div>

            </div>


            <div class="right-panel">
                <img src="~/Imagens/Jogador.png"
                     alt="Jogador"
                     class="player-img" />
            </div>

        </div>
    </body>

    <script>
        function acessar() {
            document.form1.acao.value = "A";
            document.form1.submit();
        }
    </script>
}





