@{
    Page.Title = "Jogador";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {

    private class Jogador
    {
        public string IdJogador { get; set; }
        public string NomeJogador { get; set; }
        public string IdTime { get; set; }
        public string NomeTime { get; set; }
    }

    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }

    string acao = null;
    string idJogador = null;
    string nomeJogador = null;
    string idTime = null;

    List<Jogador> jogador = new List<Jogador>();
    List<Time> times = new List<Time>();

    private void AlimentaVariaveis()
    {
        acao = Request.Form["acao"];
        idJogador = Request.Form["idJogador"];
        nomeJogador = Request.Form["nomeJogador"];
        idTime = Request.Form["times"];
    }
    private void Consultar()
    {
        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();
        jogador = dao.ExecutarProcedureList<Jogador>(procedure, null);
    }
    private void ConsultarTimes()
    {
        string procedure = GetNomeProcedure("CT");

        Dao dao = new Dao();
        times = dao.ExecutarProcedureList<Time>(procedure, null);
    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {

            case "C": return "stp_Das_Jogador_Sel";
            case "I": return "stp_Das_Jogador_Ins";
            case "A": return "stp_Das_Jogador_Upd";
            case "E": return "stp_Das_Jogador_Del";
            case "CT": return "stp_Das_Time_Sel";
            default: return null;
        }
    }
    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogador", idJogador);
        parametros.Add("@Nome", nomeJogador);
        parametros.Add("@IdTime", idTime);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();
        dao.ExecutarProcedure(procedure, parametros);

    }
}

@{
    
    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Manutencao();
    }

    ConsultarTimes();
    Consultar();
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idJogador" id="idJogador" value="@idJogador"/>

        <div class="container">
            <a href="/">Início</a>

            <h1>Jogador</h1>

            <div>
                <label for="jogador">Jogador: </label>
                <input type="text" name="nomeJogador" id="nomeJogador" value="@nomeJogador" />

                <label for="times">Time: </label>                
                <select id="times" name="times">
                    <option value="0"></option>
                    @if (times != null)
                    {
                        foreach (Time item in times)
                        {
                            <option value="@item.IdTime">@item.Nome</option>
                        }
                    }
                </select>

            </div>

            <button type="button" onclick="executarAcao('I')">Incluir</button>
            <button type="button" onclick="executarAcao('E')">Excluir</button>
            <button type="button" onclick="executarAcao('A')">Alterar</button>
            <button type="button" onclick="limparForm()">Limpar</button>

            @if (jogador != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>IdJogador</th>
                            <th>Nome Jogador</th>
                            <th>IdTime</th>
                            <th>Nome Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Jogador item in jogador)
                        {
                            <tr>
                                <td>@item.IdJogador</td>
                                <td>@item.NomeJogador</td>
                                <td>@item.IdTime</td>
                                <td>@item.NomeTime</td>
                                <td><button type="button" onclick="editar('@item.IdJogador','@item.NomeJogador', '@item.IdTime')">Editar</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </form>

    <script>
        function executarAcao(acao) {
            document.form1.acao.value = acao;
            document.form1.submit();
        }

        function editar(idJogador, nomeJogador, idTime) {
            document.form1.idJogador.value = idJogador;
            document.form1.nomeJogador.value = nomeJogador;
            document.form1.times.value = idTime;
        }

        function limparForm() {
            document.form1.idJogador.value = null;
            document.form1.nomeJogador.value = null;
            document.form1.times.value = null;
        }
    </script>
</body>


