@{
    Page.Title = "Jogadores";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {

    private class Jogador
    {
        public string IdJogador { get; set; }
        public string NomeJogador { get; set; }
        public string IdTime { get; set; }
        public string NomeTime { get; set; }

    }

    private class Time
    {
        public string IdTime { get; set; }
        public string NomeTime { get; set; }
    }

    string acao = null;
    string idJogador = null;
    string nomeJogador = null;
    string idTime = null;

    List<Jogador> jogador = new List<Jogador>();
    List<Time> times = new List<Time>();

    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idJogador = Util.ChecarNulo(Request.Form["idJogador"]);
        nomeJogador = Util.ChecarNulo(Request.Form["nomeJogador"]);
        idTime = Util.ChecarNulo(Request.Form["times"]);
    }
    private void LimpaVariaveis()
    {
        acao = null;
        idJogador = null;
        nomeJogador = null;
        idTime = null;
    }

    private void Consultar()
    {
        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();
        jogador = dao.ExecutarProcedureList<Jogador>(procedure, null);
    }
    private void ConsultarTimes()
    {
        string procedure = GetNomeProcedure("C");
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "1");

        Dao dao = new Dao();
        times = dao.ExecutarProcedureList<Time>(procedure, parametros);
    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "stp_Das_Jogador_Sel";
            case "I": return "stp_Das_Jogador_Ins";
            case "A": return "stp_Das_Jogador_Upd";
            case "E": return "stp_Das_Jogador_Del";
            default: return null;
        }
    }
    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogador", idJogador);
        parametros.Add("@Nome", nomeJogador);
        parametros.Add("@IdTime", idTime);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();
        dao.ExecutarProcedure(procedure, parametros);

    }
}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        try
        {
            Manutencao();
            LimpaVariaveis();
        }
        catch (Exception ex)
        {
            ModelState.AddError("alert-danger", ex.Message);
        }

    }

    ConsultarTimes();
    Consultar();
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idJogador" id="idJogador" value="@idJogador" />

        <div class="container">
            @RenderPage("~/AreaRestrita/Menu.cshtml")

            <h1>Jogadores</h1>

            @PageHelper.MakeAlert()

            <div>
                <label for="jogador">Jogador: </label>
                <input type="text" name="nomeJogador" id="nomeJogador" value="@nomeJogador" />
            </div>
            <div>
                <label for="times">Time: </label>
                <select id="times" name="times">
                    <option value=""></option>
                    @if (times != null)
                    {
                        foreach (Time item in times)
                        {
                            <option value="@item.IdTime" @(item.IdTime == idTime ? "selected" : "")>@item.NomeTime</option>
                        }
                    }
                </select>
            </div>

            <button type="submit" onclick="estadoInicial()">Limpar</button>
            <button type="button" onclick="executaAcao('I')">Incluir</button>
            <button type="button" onclick="executaAcao('E')">Excluir</button>
            <button type="button" onclick="executaAcao('A')">Alterar</button>

            @if (jogador != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>IdJogador</th>
                            <th>Nome Jogador</th>
                            <th>IdTime</th>
                            <th>Nome Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Jogador item in jogador)
                        {
                            <tr>
                                <td>@item.IdJogador</td>
                                <td>@item.NomeJogador</td>
                                <td>@item.IdTime</td>
                                <td>@item.NomeTime</td>
                                <td><button type="button" onclick="editar('@item.IdJogador','@item.NomeJogador', '@item.IdTime')">Editar</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </form>
    <script src="~/Scripts/Scripts.js"></script>
    <script>
        function editar(idJogador, nomeJogador, idTime) {
            document.form1.idJogador.value = idJogador;
            document.form1.nomeJogador.value = nomeJogador;
            document.form1.times.value = idTime;
        }
    </script>
</body>