@{
    Page.Title = "Jogos";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {

    private class Jogo
    {
        public string IdJogo { get; set; }
        public string IdTime1 { get; set; }
        public string Time1 { get; set; }
        public string IdTime2 { get; set; }
        public string Time2 { get; set; }
        public string Placar1 { get; set; }
        public string Placar2 { get; set; }
    }

    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }

    string acao = null;
    string idJogo = null;
    string idTime1 = null;
    string idTime2 = null;

    List<Jogo> jogo = new List<Jogo>();
    List<Time> times = new List<Time>();

    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idJogo = Util.ChecarNulo(Request.Form["idJogo"]);
        idTime1 = Util.ChecarNulo(Request.Form["times1"]);
        idTime2 = Util.ChecarNulo(Request.Form["times2"]);
    }
    private void LimpaVariaveis()
    {
        acao = null;
        idJogo = null;
        idTime1 = null;
        idTime2 = null;
    }
    private void Consultar()
    {
        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();
        jogo = dao.ExecutarProcedureList<Jogo>(procedure, null);
    }
    private void ConsultarTimes()
    {
        string procedure = GetNomeProcedure("C");
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "1");

        Dao dao = new Dao();
        times = dao.ExecutarProcedureList<Time>(procedure, parametros);
    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "stp_Das_Jogo_Sel";
            case "I": return "stp_Das_Jogo_Ins";
            case "A": return "stp_Das_Jogo_Upd";
            case "E": return "stp_Das_Jogo_Del";
            default: return null;
        }
    }
    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdJogo", idJogo);
        parametros.Add("@IdTime1", idTime1);
        parametros.Add("@IdTime2", idTime2);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();
        dao.ExecutarProcedure(procedure, parametros);

    }

}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        try
        {
            Manutencao();
            LimpaVariaveis();
        }
        catch (Exception ex)
        {
            ModelState.AddError("alert-danger", ex.Message);
        }

    }

    ConsultarTimes();
    Consultar();
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idJogo" id="idJogo" value="@idJogo" />

        <div class="container">
            @RenderPage("~/AreaRestrita/Menu.cshtml")

            <h1>Jogos</h1>

            @PageHelper.MakeAlert()

            <div>
                <label for="times1">Time 1: </label>
                <select id="times1" name="times1">
                    <option value=""></option>
                    @if (times != null)
                    {
                        foreach (Time item in times)
                        {
                            <option value="@item.IdTime" @(item.IdTime == idTime1 ? "selected" : "") >@item.Nome</option>
                        }
                    }
                </select>
            </div>
            <br>
            <div>
                <label for="times2">Time 2: </label>
                <select id="times2" name="times2">
                    <option value=""></option>
                    @if (times != null)
                    {
                        foreach (Time item in times)
                        {
                            <option value="@item.IdTime" @(item.IdTime == idTime2 ? "selected" : "" ) >@item.Nome</option>
                        }
                    }
                </select>
            </div>
            <br>
            <button type="submit" onclick="estadoInicial()">Limpar</button>
            <button type="button" onclick="executaAcao('I')">Incluir</button>
            <button type="button" onclick="executaAcao('E')">Excluir</button>
            <button type="button" onclick="executaAcao('A')">Alterar</button>
            <br>

            @if (jogo != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>IdJogo</th>
                            <th>IdTime1</th>
                            <th>Time 1</th>
                            <th>IdTime2</th>
                            <th>Time 2</th>
                            <th>Placar 1</th>
                            <th>Placar 2</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Jogo item in jogo)
                        {
                            <tr>
                                <td>@item.IdJogo</td>
                                <td>@item.IdTime1</td>
                                <td>@item.Time1</td>
                                <td>@item.IdTime2</td>
                                <td>@item.Time2</td>
                                <td>@item.Placar1</td>
                                <td>@item.Placar2</td>
                                <td><button type="button" onclick="editar('@item.IdJogo','@item.IdTime1', '@item.IdTime2')">Editar</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </form>
    <script src="~/Scripts/Scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>

        function editar(idJogo, idTime1, idTime2) {
            document.form1.idJogo.value = idJogo;
            document.form1.times1.value = idTime1;
            document.form1.times2.value = idTime2;
        }
    </script>
</body>


