
@functions{

    private class Pagina
    {
        public string CodigoSistema { get; set; }
        public string CaptionSistema { get; set; }
        public string CodigoModulo { get; set; }
        public string CaptionModulo { get; set; }

        public string CodigoPagina { get; set; }
        public string CaptionPagina { get; set; }
    }

    List<Pagina> paginas = null;

    string sistema = null;
    string modulo = null;
    string pagina = null;
    string rota = null;
    string tagA = null;
    string href = null;
    string extensao = ".cshtml";

    bool tagSistemaAberto = false;
    bool tagModuloAberto = false;

    private void Consultar()
    {

        Identificacao identificacao = new Identificacao();

        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "C_Menu");
        parametros.Add("@IdOperador", identificacao.IdOperador);


        paginas = new Dao().ExecutarProcedureList<Pagina>("stp_Das_MontaMenu", parametros);

    }

    private string inserirSistema(string captionSistema)
    {
        string ret = "";
        if (tagSistemaAberto)
        {
            ret = "</ul></li></ul></li>";
            tagSistemaAberto = false;
            tagModuloAberto = false;
        }
        else
        {
            tagSistemaAberto = true;
        }

        ret += $"<li class=\"parent\"><a href=#>{captionSistema}</a><ul class=\"child\">";
        return ret;

    }

    private string inserirModulo1(string captionModulo)
    {
        string ret = "";
        modulo = captionModulo;
        if (tagModuloAberto)
        {
            ret = "</ul>";
        }
        else
        {
            tagModuloAberto = true;
        }

        ret += "<li class=\"parent\"><a href=#>" + captionModulo + "<span class=\"expand\">»</span></a><ul class=\"child\">";

        return ret;

    }

    private string inserirModulo2(string captionModulo)
    {
        string ret = "";
        if (tagModuloAberto)
        {
            ret = "</ul></li>";
        }
        else
        {
            tagModuloAberto = true;
        }

        ret += "<li><a href=\"#\">" + captionModulo + "</a><ul>";
        return ret;

    }

    private string inserirPagina(string sistema, string modulo, string pagina, string captionPagina)
    {
        string ret = $"<li><a href=\"/AreaRestrita/{sistema}/{modulo}/{pagina}.cshtml\">{captionPagina}</a></li>";

        //string aux = "<a href=\"/AreaRestrita/copaDoMundo/cadastro/time.cshtml\">Time</a>";

        return ret;


    }

}

@{
    Consultar();
}

@*<div>

    @if (paginas != null)
    {
        string sistema = null;
        string modulo = null;

        foreach (Pagina item in paginas)
        {
            if (sistema != item.CodigoSistema)
            {
                if (sistema != null)
                {
                    @Html.Raw("</ul></li></ul></li>")
                    modulo = null;
                }
                <text><li class="parent">
                        <a href="#">@item.CaptionSistema</a>
                        <ul class="child">
                </text>
            }

            if (modulo != item.CodigoModulo)
            {
                if (modulo != null)
                {
                    @Html.Raw("</ul></li>")
                }
                <text>
                    <li class="parent">
                        <a href="#">@item.CaptionModulo <span class="expand">»</span></a>
                        <ul class="child">
                </text>
            }

            <li><a href="~/AreaRestrita/@(item.CodigoSistema)/@(item.CodigoModulo)/@(item.CodigoPagina).cshtml">@item.CaptionPagina</a></li>

            sistema = item.CodigoSistema;
            modulo = item.CodigoModulo;
        }

        @Html.Raw("</ul></li></ul></li>")
    }
</div>*@

<div>

    @if (paginas != null)
    {
        <div>
            <ul class="menu">

                <li class="parent"><a href="#>Início</a></li>

                @foreach (Pagina item in paginas)
                {
                    pagina = item.CodigoPagina;

                    if (item.CodigoSistema != sistema)
                    {
                        sistema = item.CodigoSistema;

                        @Html.Raw(inserirSistema(item.CaptionSistema));


                        if (item.CodigoModulo != modulo)
                        {
                            modulo = item.CodigoModulo;
                            if (tagModuloAberto)
                            {
                                @Html.Raw("</ul>");
                            }
                            else
                            {
                                tagModuloAberto = true;
                            }

                            @Html.Raw("<li class=\"parent\"><a href=#>" + item.CaptionModulo + "<span class=\"expand\">»</span></a><ul class=\"child\">");


                            @*@Html.Raw(inserirModulo1(item.CaptionModulo));*@

                            @Html.Raw(inserirPagina(sistema, modulo, pagina, item.CaptionPagina));

                        }
                        else
                        {

                            @Html.Raw(inserirPagina(sistema, modulo, pagina, item.CaptionPagina));
                        }
                    }
                    else
                    {
                        if (item.CodigoModulo != modulo)
                        {
                            modulo = item.CodigoModulo;
                            if (tagModuloAberto)
                            {
                                @Html.Raw("</ul></li>");
                            }
                            else
                            {
                                tagModuloAberto = true;
                            }

                            @Html.Raw("<li class=\"parent\"><a href=#>" + item.CaptionModulo + "<span class=\"expand\">»</span></a><ul class=\"child\">");

                            @Html.Raw(inserirPagina(sistema, modulo, pagina, item.CaptionPagina));
                        }
                        else
                        {
                            @Html.Raw(inserirPagina(sistema, modulo, pagina, item.CaptionPagina));
                        }
                    }
                }

                @Html.Raw("</ul></li></ul></li>")
                <li class="parent"><a href="~/ControleAcesso/Sair.cshtml">Sair</a></li>
            </ul>
        </div>

    }
</div>


