@functions{
    private class Pagina
    {
        public string CodigoSistema { get; set; }
        public string CaptionSistema { get; set; }
        public string CodigoModulo { get; set; }
        public string CaptionModulo { get; set; }
        public string CodigoPagina { get; set; }
        public string CaptionPagina { get; set; }
    }

    List<Pagina> paginas = null;

    private void Consultar()
    {
        Identificacao identificacao = new Identificacao();

        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "C_Menu");
        parametros.Add("@IdOperador", identificacao.IdOperador);

        paginas = new Dao().ExecutarProcedureList<Pagina>("stp_Ism_MontaMenu", parametros);
    }
}

@{
    Consultar();
    string sistemaAtual = null;
    string moduloAtual = null;
}



@if (paginas != null && paginas.Any())
{
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

            <div class="d-flex flex-column align-items-center w-100">

                <a class="navbar-brand mb-1 mt-1" href="/">
                    <img src="~/Imagens/Logo.png" alt="Logo" width="80" height="80">
                </a>

                <ul class="navbar-nav fs-5 d-flex flex-row gap-4">
                    @foreach (Pagina item in paginas)
                    {
                        if (sistemaAtual != item.CodigoSistema)
                        {

                            if (sistemaAtual != null)
                            {
                                if (moduloAtual != null)
                                {
                                    @Html.Raw("</ul></li>")
                                }
                                @Html.Raw("</ul></li>")
                            }
                            sistemaAtual = item.CodigoSistema;
                            moduloAtual = null;

                            <text>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button"
                                       data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        @item.CaptionSistema
                                    </a>
                            </text>
                            @Html.Raw("<ul class=\"dropdown-menu\">")
                        }
                        if (moduloAtual != item.CodigoModulo)
                        {
                            if (moduloAtual != null)
                            {
                                @Html.Raw("</ul></li>")
                            }
                            moduloAtual = item.CodigoModulo;

                            <text>
                            <li class="dropend">
                                <a class="dropdown-item dropdown-toggle" href="#" 
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    @item.CaptionModulo
                                </a>
                            </text>
                            @Html.Raw("<ul class=\"dropdown-menu\">")
                        }
                    <li>
                        <a class="dropdown-item"
                           href="~/AreaRestrita/@item.CodigoSistema/@item.CodigoModulo/@(item.CodigoPagina).cshtml">
                            @item.CaptionPagina
                        </a>
                    </li>

                }
                    @if (sistemaAtual != null)
                    {
                        @Html.Raw("</ul></li>")
                        @Html.Raw("</ul></li>")
                    }


                </ul>
            </div>
        </div>
        <a class="btn btn-outline-danger" href="~/ControleAcesso/Sair.cshtml">Sair</a>
    </nav>

}

