@{
    Page.Title = "Participação";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {

    private class TimesJogo
    {
        public string IdJogo { get; set; }
        public string Jogo { get; set; }
        public string Resultado { get; set; }
        public string IdTime1 { get; set; }
        public string IdTime2 { get; set; }
    }
    private class ResultadoJogo
    {
        public string Resultado { get; set; }
    }

    private class Participacao
    {
        public string IdParticipacao { get; set; }
        public string IdJogo { get; set; }
        public string Jogo { get; set; }
        public string IdJogador { get; set; }
        public string NomeJogador { get; set; }
        public string NomeTime { get; set; }
        public string GolsMarcados { get; set; }
    }



    private class Jogadores
    {
        public string IdJogador { get; set; }
        public string NomeJogador { get; set; }
    }

    string acao = null;
    string idParticipacao = null;
    string idJogo = null;
    string jogo = null;
    string idJogador = null;

    List<Participacao> participacao = new List<Participacao>();
    List<TimesJogo> timesJogo = new List<TimesJogo>();
    ResultadoJogo resultadoJogos = new ResultadoJogo();

    private void AlimentaVariaveis()
    {
        acao = Request.Form["acao"];
        idParticipacao = Request.Form["idParticipacao"];
        idJogo = Request.Form["idJogo"];
        idJogador = Request.Form["idJogador"];
    }
    private void ConsultarJogos()
    {
        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();
        timesJogo = dao.ExecutarProcedureList<TimesJogo>(procedure, null);

    }
    private void ConsultarResultado()
    {
        string procedure = GetNomeProcedure("C");

        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "1");
        parametros.Add("@IdJogo", idJogo);

        Dao dao = new Dao();
        resultadoJogos = dao.ExecutarProcedure<ResultadoJogo>(procedure, parametros);
    }

    private void ConsultarParticipacao()
    {
        string procedure = GetNomeProcedure("C");

        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "2");
        parametros.Add("@IdJogo", idJogo);

        Dao dao = new Dao();
        participacao = dao.ExecutarProcedureList<Participacao>(procedure, parametros);
    }


    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "stp_Das_Participacao_Sel";
            case "A": return "stp_Das_Participacao_Upd";
            default: return null;
        }
    }
    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdParticipacao", idParticipacao);
        parametros.Add("@IdJogo", idJogo);
        parametros.Add("@IdJogador", idJogador);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();
        dao.ExecutarProcedure(procedure, parametros);

    }

    private void LimparForm()
    {
        acao = null;
    }
}

@{

    AlimentaVariaveis();

    if (acao == "A")
    {
        Manutencao();
    }

    ConsultarJogos();

    if (idJogo != null)
    {
        ConsultarResultado();
        ConsultarParticipacao();
    }

}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idParticipacao" id="idParticipacao" value="@idParticipacao" />
        <input type="hidden" name="idJogador" id="idJogador" value="@idJogador" />

        <div class="container">
            <a href="/">Início</a>

            <h1>Participação</h1>

            <div>
                <label for="idjogo">Jogos: </label>
                <select id="idjogo" name="idjogo" onchange="listarResultado()">
                    <option value=""></option>
                    @if (timesJogo != null)
                    {
                        foreach (TimesJogo item in timesJogo)
                        {
                            <option value="@item.IdJogo"  @(@item.IdJogo == @idJogo ? "selected" : "")>@item.Jogo</option>
                        }
                    }
                </select>

            </div>

            @if (idJogo != null)
            {

                <label><strong>Resultado</strong></label>
                <br>
                <label>@resultadoJogos.Resultado</label>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome Jogador</th>
                            <th>Time</th>
                            <th>Gols Marcados</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Participacao item in participacao)
                        {
                            <tr>
                                <td>@item.NomeJogador</td>
                                <td>@item.NomeTime</td>
                                <td>@item.GolsMarcados</td>
                                <td><button type="button" onclick="maisUmGol('@item.IdParticipacao','@item.IdJogo', '@item.IdJogador')">+ 1 Gols</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </form>

    <script>

        function listarResultado() {
            document.form1.submit();
        }

        function maisUmGol(idParticipacao, idJogo, idJogador) {
            document.form1.acao.value = 'A';
            document.form1.idParticipacao.value = idParticipacao;
            document.form1.idJogador.value = idJogador;
            document.form1.submit();
        }

        function limparForm() {
            document.form1.acao.value = null;
            document.form1.idJogo.value = null
            document.form1.submit();
        }

    </script>
</body>


