@{
    Page.Title = "Participação";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {

    private class Participacao
    {
        public string IdParticipacao { get; set; }
        public string IdJogo { get; set; }
        public string Jogo { get; set; }
        public string IdJogador { get; set; }
        public string NomeJogador { get; set; }
        public string GolsMarcados { get; set; }
    }

    private class TimesJogo
    {
        public string IdJogo { get; set; }
        public string Jogo { get; set; }
        public string IdTime1 { get; set; }
        public string IdTime2 { get; set; }

    }

    private class Jogadores
    {
        public string IdJogador { get; set; }
        public string NomeJogador { get; set; }
    }

    string acao = null;
    string idParticipacao = null;
    string idJogo = null;
    string jogo = null;
    string idJogador = null;
    string nomeJogador = null;
    string golsMarcados = null;

    List<Participacao> participacao = new List<Participacao>();
    List<TimesJogo> timesJogo = new List<TimesJogo>();
    List<Jogadores> jogadores = new List<Jogadores>();

    private void AlimentaVariaveis()
    {
        acao = Request.Form["acao"];
        idParticipacao = Request.Form["idParticipacao"];
        idJogo = Request.Form["idJogo"];
        idJogador = Request.Form["idJogador"];
        golsMarcados = Request.Form["golsMarcados"];
    }
    private void Consultar()
    {
        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();
        participacao = dao.ExecutarProcedureList<Participacao>(procedure, null);
    }
    private void ConsultarJogos()
    {
        string procedure = GetNomeProcedure("CJ");

        Dao dao = new Dao();
        timesJogo = dao.ExecutarProcedureList<TimesJogo>(procedure, null);
    }

    private void ConsultarJogadores()
    {
        string procedure = GetNomeProcedure("CJo");

        Dao dao = new Dao();
        timesJogo = dao.ExecutarProcedureList<TimesJogo>(procedure, null);
    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {

            case "C": return "stp_Das_Participacao_Sel";
            case "I": return "stp_Das_Participacao_Ins";
            case "A": return "stp_Das_Participacao_Upd";
            case "E": return "stp_Das_Participacao_Del";
            case "CJ": return "stp_Das_ConsultarJogos_Sel";
            case "CJo": return "stp_Das_ConsultarJogadores_Sel";
            default: return null;
        }
    }
    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdParticipacao", idParticipacao);
        parametros.Add("@IdJogo", idJogo);
        parametros.Add("@IdJogador", idJogador);
        parametros.Add("@GolsMarcados", golsMarcados);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();
        dao.ExecutarProcedure(procedure, parametros);

    }

    private void LimparForm()
    {
        acao = null;
        //idJogo = null;
        //idTime1 = null;
        //idTime2 = null;
        //placar1 = null;
        //placar2 = null;

    }
}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Manutencao();
        LimparForm();
    }

    ConsultarJogos();
    if (acao == "CJo")
    {
        ConsultarJogadores();
    }
    Consultar();
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idParticipacao" id="idParticipacao" value="@idParticipacao" />
        <input type="hidden" name="idJogo" id="idJogo" value="@idJogo"/>

        <div class="container">
            <a href="/">Início</a>

            <h1>Participação</h1>

            <div>
                <label for="jogos">Jogos: </label>
                <select id="jogos" name="jogos">
                    <option value="0"></option>
                    @if (timesJogo != null)
                    {
                        foreach (TimesJogo item in timesJogo)
                        {
                            <option value="@item.IdJogo" onchange="listarJogadores('@item.IdJogo')">@item.Jogo</option>
                        }
                    }
                </select>

                <label for="jogadores">Jogador: </label>
                <select id="jogadores" name="jogadores">
                    <option value="0"></option>
                    @if (jogadores != null)
                    {
                        foreach (Jogadores item in jogadores)
                        {
                            <option value="@item.IdJogador">@item.NomeJogador</option>
                        }
                    }
                </select>

                <label for="golsMarcados">Gols Marcados:</label>
                <input type="text" name="golsMarcados" id="golsMarcados" value="@golsMarcados" />

            </div>

            <button type="button" onclick="executarAcao('I')">Incluir</button>
            <button type="button" onclick="executarAcao('E')">Excluir</button>
            <button type="button" onclick="executarAcao('A')">Alterar</button>
            <button type="button" onclick="limparForm()">Limpar</button>

            @if (participacao != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>IdParticipação</th>
                            <th>IdJogo</th>
                            <th>Jogo</th>
                            <th>IdJogador</th>
                            <th>Nome Jogador</th>
                            <th>GolsMarcados</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Participacao item in participacao)
                        {
                            <tr>
                                <td>@item.IdParticipacao</td>
                                <td>@item.IdJogo</td>
                                <td>@item.Jogo</td>
                                <td>@item.IdJogador</td>
                                <td>@item.NomeJogador</td>
                                <td>@item.GolsMarcados</td>
                                <td><button type="button" onclick="editar('@item.IdParticipacao','@item.IdJogo', '@item.IdJogador','@item.GolsMarcados')">Editar</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </form>

    <script>
        function executarAcao(acao) {
            document.form1.acao.value = acao;
            document.form1.submit();
        }

        function editar(idParticipacao, idJogo, IdJogador, golsMarcados) {
            document.form1.idParticipacao.value = idParticipacao;
            document.form1.jogos.value = idJogo;
            document.form1.jogadores.value = IdJogador;
            document.form1.golsMarcados.value = golsMarcados;
        }

        function limparForm() {
            document.form1.idParticipacao.value = null;
            document.form1.jogos.value = null;
            document.form1.jogadores.value = null;
            document.form1.golsMarcados.value = null;
        }

        function listarJogadores(idJogo) {
            alert(idJogo);
            document.form1.acao.value = 'CJo';
            document.form1.idJogo.value = idJogo;
            document.form1.submit();
        }
    </script>
</body>


