@{
    Page.Title = "Times";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }
    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }


    string acao = null;
    string idTime = null;
    string nome = null;
    View view = View.Index;

    List<Time> times = new List<Time>();


    private void AlimentaVariaveis()
    {
        acao = Util.ChecarNulo(Request.Form["acao"]);
        idTime = Util.ChecarNulo(Request.Form["idTime"]);
        nome = Util.ChecarNulo(Request.Form["nome"]);

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }
    }
    private void LimpaVariaveis()
    {
        acao = null;
        idTime = null;
        nome = null;
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdTime", idTime);

        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();
        times = dao.ExecutarProcedureList<Time>(procedure, parametros);

    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {

            case "C": return "stp_Das_Time_Sel";
            case "I": return "stp_Das_Time_Ins";
            case "A": return "stp_Das_Time_UPD";
            case "E": return "stp_Das_Time_DEL";
            default: return null;
        }
    }
    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdTime", idTime);
        parametros.Add("@Nome", nome);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();
        dao.ExecutarProcedure(procedure, parametros);

    }

    private string IsInvalid(string key)
    {
        return (!ModelState.IsValidField(key) ? "is-invalid" : "");
    }

    private void CarregarDados()
    {
        if (view == View.Edit && acao == "C" && times != null && times.Count == 1)
        {
            Time time = times.FirstOrDefault();
            idTime = time.IdTime;
            nome = time.Nome;
        }
    }
}

@{

    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(() =>
        {
            Manutencao();
            view = View.Index;
            LimpaVariaveis();

            ModelState.AddError("alert-success", "Operação realizada com sucesso");

        }, this.ModelState);

    }

    Util.ExceptionHandler(() =>
    {
        Consultar();

        CarregarDados();

    }, this.ModelState);

}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idTime" id="idTime" value="@idTime" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">
            @RenderPage("~/AreaRestrita/Menu.cshtml")

            <h1>Times</h1>

            @PageHelper.MakeAlert()

            <button class="btn btn-secondary" type="submit" onclick="estadoInicial()">Limpar</button>
            @if (view == View.Index)
            {
                <button class="btn btn-secondary" type="button" onclick="novo()">Novo</button>
            }

            @if (view == View.New)
            {
                <button class="btn btn-secondary" type="button" onclick="executaAcao('I')">Incluir</button>
            }

            @if (view == View.Edit)
            {
                <button class="btn btn-secondary" type="button" onclick="executaAcao('A')">Alterar</button>
                <button class="btn btn-secondary" type="button" onclick="executaAcao('E')">Excluir</button>
            }

            @if (view == View.New || view == View.Edit)
            {
                <div class="mb-3">
                    <label class="form-label" for="time">Time: </label>
                    <input class="form-control @IsInvalid("nome")" type="text" name="nome" id="nome" value="@nome" />
                    @PageHelper.MakeFeedBack("nome")

                </div>
            }

            @if (view == View.Index)
            {
                if (times != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>IdTime</th>
                                <th>Nome</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Time item in times)
                            {
                                <tr>
                                    <td>@item.IdTime</td>
                                    <td>@item.Nome</td>
                                    <td><button type="button" onclick="editar('@item.IdTime','@item.Nome')">Editar</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

        </div>
    </form>
    <script src="~/Scripts/Scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function editar(idTime) {
            document.form1.view.value = "@((int)View.Edit)";
            document.form1.idTime.value = idTime;
            executaAcao('C');
        }

        function novo() {
            document.form1.view.value = "@((int)View.New)";
            executaAcao('');
        }

    </script>
</body>



