@{
    Page.Title = "TresPontos";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet" />
}

<body>
    <form>
        <input type="hidden" name="acao" id="acao" />

        <div class="container">
            <h1>Modal e Três Pontos</h1>

            @PageHelper.MakeAlert()

        <div class="mt-5">
            <label for="idTime">IdTime</label>
            <div class="row">
                <div class="col">
                    <input type="text" id="idTime" name="idTime" class="form-control" data-group="group1" data-column="IdTime" />
                    @PageHelper.MakeFeedBack("idTime")
                </div>
                <div class="col-auto">
                    @PageHelper.MakeTresPontos("group1", "Consulta de times", "Informe o nome do time", "Time", null)
                </div>
                <div class="col">
                    <input type="text" id="nome" name="nome" class="form-control" data-group="group1" data-column="Nome" />
                    @PageHelper.MakeFeedBack("nome")
                </div>
            </div>

            <label for="idJogador">IdJogador</label>
            <div class="row">
                <div class="col">
                    <input type="text" id="idJogador" name="idJogador" class="form-control" data-group="group2" data-column="IdJogador" />
                    @PageHelper.MakeFeedBack("idJogador")
                </div>
                <div class="col-auto">
                    @PageHelper.MakeTresPontos("group2", "Consulta de Jogadores", "Informe o nome do Jogador", "Jogador", "idTime")
                </div>
                <div class="col">
                    <input type="text" id="nome" name="nome" class="form-control" data-group="group2" data-column="Nome" />
                    @PageHelper.MakeFeedBack("nome")
                </div>
            </div>
        </div>
        </div>
    </form>
</body>
<script>
    function openSearch(obj) {
        if (!obj) return;

        var group = findGroup(obj);

        if (!group) return;

        var search = document.querySelector(`[data-group="${group}"][class="search"]`);

        if (!search) return;

        var card = search.querySelector(".search-card");

        if (!card) return;

        card.classList.add("show");

        initSearch(search);
    }

    function closeSearch(obj) {
        if (!obj) return;

        var group = findGroup(obj);

        if (!group) return;

        var search = document.querySelector(`[data-group="${group}"][class="search"]`);

        if (!search) return;

        var card = search.querySelector(".search-card");

        if (!card) return;

        card.classList.remove("show");

        initSearch(search);
    }

    function initSearch(search) {
        var chave = search.querySelector('[name="chave"]')

        if (!chave) return;

        chave.value = "";

        var resultado = search.querySelector('.resultado')

        if (!resultado) return;

        resultado.innerHTML = "";
    }
    

    function makeSearch(obj) {
        if (!obj) return;

        var group = findGroup(obj);

        if (!group) return;

        var search = document.querySelector(`[data-group="${group}"][class="search"]`);

        if (!search) return;

        var chave = search.querySelector(`[name="chave"]`).value;
        var tipoConsulta = search.getAttribute("data-tipo-consulta");
        if (search.getAttribute("data-consulta-composta")) {
            var consultaComposta = document.getElementById(search.getAttribute("data-consulta-composta")).value;
        }
        var resultado = search.querySelector(`.resultado`);

        $.ajax({
            method: "POST",
            url: "/AreaRestrita/AuxConsulta.cshtml",
            dataType: "json",
            data: {
                chave: chave,
                tipoConsulta: tipoConsulta,
                consultaComposta: consultaComposta
            }
        }).done(function (res) {
            if (res.length == 0) {
                resultado.innerHTML = "<div>Nenhum registro encontrado</div>";
            }
            else {
                var table = populateTable(res);
                resultado.innerHTML = table;
            }

        });
    }

    function populateTable(json) {
        var tablei = '<table class="table table-striped table-sm table-bordered table-hover mt-3">';
        var thead = populateTableHeader(json);
        var tbody = populateTableBody(json);
        var tablef = '</table>';

        return tablei + thead + tbody + tablef;
    }

    function populateTableBody(json) {
        var columns = Object.keys(json[0]);

        var results = json.map((r, index) => {
            var row = "<tr onclick='fecharSearch(this)'>";
            columns.forEach(function (key) {
                row += "<td data-column=" + key + ">" + r[key] + "</td>";
            });
            row += "</tr>";
            return row;
        });

        return "<tbody>" + results.join('') + "</tbody>";
    }

    function populateTableHeader(json) {
        var columns = Object.keys(json[0]);
        var headerCells = columns.map(r => {
            return "<th>" + r + "</th>";
        });
        return "<thead><tr>" + headerCells.join('') + "</thead></tr>";
    }

    function fecharSearch(obj) {
        var group = findGroup(obj);

        if (!group) return;

        document.querySelectorAll('[data-group=' + group + ']').forEach((item) => {
            if (item instanceof HTMLInputElement) {
                item.value = obj.querySelector("[data-column=" + item.getAttribute("data-column") + "]").innerText;
            }
        });

        closeSearch(obj);
    }

    function findGroup(obj) {
        if (obj.classList.contains("search")) {
            return obj.getAttribute("data-group")
        }
        return findGroup(obj.parentElement)
    }
</script>

